@CHARSET "UTF-8";

/* html, body{
 	position: relative;
	top: 0;
	bottom: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding-top: 1px;
	margin-top: -1px;
	z-index: 1;
} */

/* [data-role="page"] {
    position: relative;
	top: 0;
	bottom: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding-top: 1px;
	margin-top: -1px;
	z-index: 1;
} */