@charset "UTF-8";

.jq-flipswitch {
    border:none;
    width:200px;
    height:50px;

    font-size:1.5rem;
    color:#FFF;

    -webkit-box-shadow:0px -1px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px 2px #EEE inset;
       -moz-box-shadow:0px -1px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px 2px #EEE inset;
            box-shadow:0px -1px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px 2px #EEE inset;

    -webkit-border-radius:24px;
       -moz-border-radius:24px;
            border-radius:24px;

    -webkit-user-select:none;
       -moz-user-select:none;
            user-select:none;
    
    box-shadow: none !important;
    width: 65px !important;
    height: 27px !important;
    margin: 0 !important;
    display: inline-block;
}

.jq-flipswitch.jq-flipper-left  {
	background-color:#707070;
	}
.jq-flipswitch.jq-flipper-right {
	background-color:#8d5bb0;
	}

.jq-flipper {
    border:none;
    background-color:#EEE;
    background-image:-webkit-linear-gradient(top, #FFF, #EEE);
    background-image:   -moz-linear-gradient(top, #FFF, #EEE);
    background-image:     -o-linear-gradient(top, #FFF, #EEE);
    background-image:        linear-gradient(top, #FFF, #EEE);
    top: -2px !important;
    width: 30px !important;
    height: 30px !important;
    background-color: #fff !important;
    background-image: none !important;
    box-shadow: 0px 0px 10px #d5d5d5 !important;
}

.jq-flipswitch .jq-flipper {
    -webkit-border-radius:24px;
       -moz-border-radius:24px;
            border-radius:24px;
}

.jq-flipswitch-text-left{
	width: auto !important;
	font-size: 13px !important;
	left : 10px !important;
	top : 6px !important;
	line-height: 1.3 !important;
}

.jq-flipswitch-text-right{
	width: auto !important;
	font-size: 13px !important;
	right : 6px !important;
	top : 6px !important;
	line-height: 1.3 !important;
}
