@CHARSET "UTF-8";
#notice_list .npc_list_container{
	border-bottom: 1px solid #eeeeee;
	padding: 15px 15px 15px 15px;
}

.npc_list_container .npc_lc_title{
	width: 100% !important;
	max-width: 100%;
	text-align: left;
	font-size: 14px;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	letter-spacing: -0.1px;
	font-weight: bold;
}

.npc_list_container .npc_lc_content{
	width: 100% !important;
	color: #888;
	font-size: 11px;
	padding-top: 15px;
}

.npc_list_container .npc_lc_date{
	width: 35% !important;
    text-align: left;
}

.npc_list_container .npc_lc_viewcount{
	text-align: left;
    width: 55% !important;
}

.npc_list_container .npc_lc_replyimage{
	width: 5% !important;
}

.npc_list_container .npc_lc_replyimage img{
	width: 15px;
    height: 15px;
}

.npc_list_container .npc_lc_replycount{
	width: 5% !important;
}

.npc_list_container .bw_content_reply{
	width: 100% !important;
	text-align: left;
}