@CHARSET "UTF-8";

#app_info .appInfoTitle{
	text-align: left;
	padding: 20px 15px 15px 15px;
	color: #333;
	font-size: 16px;
	font-weight: bold;
}

#app_info .appInfoGrid{
	font-size:14px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #333;
}

#app_info .appInfoBlockA{
    width: 80%;
    text-align: left;
    font-size:14px;
}

#app_info .appInfoBlockB{
    width: 20%;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}

#app_info .appInfoBlockB img{
    width: 16%;
    margin-top: 2px;
	padding-right: 15px;
}


#app_useterms section p{
	padding: 8px 15px;
}

/* 문의하기 CSS */
#app_contact .appContactTitle{
	text-align: left;
	padding: 20px 15px 15px 15px;
	/* border-top: 1px solid #e5e5e5; */
	color: #333;
	font-size: 16px;
	font-weight: bold;
}

#app_contact .appContactGrid:first-child{
	padding-top:30px;
	
}
#app_contact .appContactGrid{
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #333;
}

#app_contact .appContactBlockA{
    width: 80%;
    text-align: left;
    font-size: 14px;
}

#app_contact .appContactBlockB{
    width: 20%;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}

#app_contact .ui-grid-a .ui-block-b img{
    width: 16%;
    margin-top: 2px;
	padding-right:15px;
}

#app_contact .appContactAns{
	padding: 20px 15px;
	display: none;
	font-size: 13px;
	text-align: left !important;
	border-bottom: 1px solid #eee;
	background: #f9f9f9;
}

#app_contact .appContactAns #delUser{
	color: #8d5cb1 !important;
    text-decoration: underline !important;
}

#app_contact .appContactFooter{
	position: fixed;
    bottom: 0;
    width: 100%;
    background: #eeeeee;
    font-size: 13px;
    padding: 5px 15px;
}

/* 이용약관 css  */
#app_useterms .app_usetermsFontBold{
	margin-top:15px;
	
}

/* 개인정보취급방침 CSS */
#app_useinfoterms{
	font-size: 15px;
}

#app_useinfoterms .termstitle2{
	padding-top:5px;
	padding-bottom:2px;
}

#app_useinfoterms table{
	width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
    text-align: center;
}

#app_useinfoterms th, td {
    border: 1px solid #444444;
	font-size: 13px;
	padding:5px;
}

#app_useinfoterms .tLeft{
	text-align: left !important;
}





/* 소개 css  */


#app_intro .appIntroContent {
	margin-bottom:15px;

	
}

#app_intro .appIntroTitle {
	font-size:14px;
	margin-bottom:15px;
	margin-top:15px;
}

#app_intro .appIntroName {
	margin-bottom:5px;
	color:#8d5cb1;
}

#app_intro .appIntroSourceT {
	color:#dfdfdf;
	font-size:15px;
	margin-top:25px;
}

#app_intro .appIntroSource {
	
	font-size:9px;
	margin-bottom:15px;
	color:#dfdfdf;
}