@charset "UTF-8";
#e_signature {
    overflow: auto;
}
#e_signature *{
    letter-spacing:-0.5px;
}

#e_signature .es_top_container {
    width: 100%;
}
#e_signature .es_title_container {
    width: 100%;
    height: 24px;
    text-align: left;
    margin-top: 20px;
}
#e_signature .es_title_container p {
    font: normal normal bold 16px/24px SpoqaHanSans;
    color: #333333; 
}

#e_signature .es_owner_container {
    margin-top: 15px;
    width: 100%;
}
#e_signature .es_owner_title {
    height: 18px;
    width: 100%;
    text-align: left;
}
#e_signature .es_owner_title p {
    font: normal normal bold 12px/18px SpoqaHanSans;
    color: #666666;
}

#e_signature .es_owner_name_container {
    width: 100%;
    height: 40px;
    margin-top: 6px;
}
#e_signature .ui-input-text {
    margin: 0;
    border-width: 0;
    border-style: none;
    background-color: #fff;
    border-color: #E1E1EB;
    color: #333333;
    height: 100%;
}
#e_signature .es_owner_name_input {
    width: 100%;
    height: 100%;
    border: 1px solid #E1E1EB;
    border-radius: 2px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal normal 14px/40px SpoqaHanSans;
    color: #333333;
    padding: 0px 10px 0px 10px;
}
#e_signature .es_business_no_container {
    margin-top: 20px;
    width: 100%;
}
#e_signature .es_business_no_title {
    height: 18px;
    width: 100%;
    text-align: left;
}
#e_signature .es_business_no_title p {
    font: normal normal bold 12px/18px SpoqaHanSans;
    color: #666666;
}

#e_signature .es_business_no_wrap {
    width: 100%;
    display: flex;
    margin-top: 6px;
}
#e_signature .es_hipen {
    width: 17px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#e_signature .es_business_input {
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E1E1EB;
    border-radius: 2px;
    width: 100%;
    padding: 0px 10px 0px 10px;
}


#e_signature .es_delegation_title_container {
    margin-top: 30px !important;
}

#e_signature .es_delegation_container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #EAEAF0;
}
/* input check setting */
#e_signature input[type="checkbox"] {
    display: none;
    float: left;
}
#e_signature input[type="checkbox"] + label {
    display: inline-block;
    width: 23px;
    height: 23px;
    background: transparent url(/img/busking_time/check_perfo.svg) no-repeat;
    background-size: contain;
    margin: 0;
}

#e_signature input[type="checkbox"]:checked + label {
    background: transparent url(/img/reg_store/chk.png) no-repeat;
    background-size: contain;
}

#e_signature .es_delegation_chk_container {
    display: flex;
}
#e_signature .es_delegation_chk label {
    text-align: left;
    font-size: 13px !important;
    color: #333;
    padding-left: 0 !important;
    margin: 0 !important;
}

#e_signature .es_delegation_chk_span {
    font: normal normal normal 15px/23px SpoqaHanSans;
    color: #333333;
    margin-left: 8px;
}


#e_signature .es_delegation_detail p {
    text-decoration: underline;
    font: normal normal normal 12px/18px SpoqaHanSans;
    color: #999999;
}

#e_signature .es_notie {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;
}
#e_signature .es_notie p {
    font: normal normal normal 13px/19px SpoqaHanSans;
    color: #999999;
}

/* 가운데 선 */
#e_signature .es_midline {
    height: 10px;

    margin: 0px -15px 0px -15px;

    background: #F8F8F8 0% 0% no-repeat padding-box;
}

#e_signature .es_sign_container {
    margin-top: 30px;
    text-align: left;
}
#e_signature .es_sign_container p {
    font: normal normal bold 23px/29px SpoqaHanSans;
    color: #333333;
}

#e_signature .es_sign_title {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#e_signature .es_sign_title p {
    font: normal normal bold 16px/24px SpoqaHanSans;
    color: #333333;
}
#e_signature .es_refresh {
    width: 17px;
    height: 17px;
}

#e_signature .es_sign_wrapper {
    width: 100%;
    height: 200px;
    margin-top: 15px;

    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
}
#e_signature .es_signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#e_signature .es_footer {
	/* position: fixed; */
	bottom: 0;
    left: 0;
    background: #8354C8 0% 0% no-repeat padding-box;
	margin-bottom: 0px !important;
	padding-bottom: calc(17px + env(safe-area-inset-bottom));
    padding-bottom: calc(19px + constant(safe-area-inset-bottom));
}