

.es_con_form {
    width: 795px;
    height: 1124px;
}

#es_con_save {
    text-align: left;
    background: yellowgreen;
}
.es_con_all {
    width: 795px;
    margin-top: 14px;
    margin-left: 10px;
}
.es_con_all img {
    width: 794px;
}

.es_con_all .es_con_input {
    width: 100%;
    height: 100%;
    text-align: center;
    background: none;
    border: none;
}
.es_con_all .es_con_form_div {
    position: absolute;
    width: 170px;
}
.es_con_all .es_con_form_1_ownerName {
    top: 202px;
    left: 151px;
    width: 129px;
}
.es_con_all .es_con_form_1_artistName {
    top: 202px;
    left: 362px;
    width: 119px;
}
.es_con_all .es_con_form_1_performName {
    top: 263px;
    left: 220px;
    width: 511px;
}
.es_con_all .performName {
    text-align: left;
}
.es_con_all .es_con_form_1_performStartYear {
    top: 280px;
    left: 220px;
    width: 15px;
}
.es_con_all .es_con_form_1_performStartMonth {
    top: 280px;
    left: 260px;
    width: 15px;
}
.es_con_all .es_con_form_1_performStartDay {
    top: 280px;
    left: 300px;
    width: 15px;
}

.es_con_all .es_con_form_1_performEndYear {
    top: 280px;
    left: 372px;
    width: 15px;
}

.es_con_all .es_con_form_1_performEndMonth {
    top: 280px;
    left: 412px;
    width: 15px;
}

.es_con_all .es_con_form_1_performEndDay {
    top: 280px;
    left: 452px;
    width: 15px;
}
.es_con_all .es_con_form_1_perform_no_of_time {
    top: 280px;
    left: 600px;
    width: 15px;
}
.es_con_all .es_con_form_1_performAdress {
    top: 322px;
    left: 218px;
    width: 516px;
}
.es_con_all .performAdress {
    text-align: left;
}
.es_con_all .es_con_form_1_performStartHour {
    top: 299px;
    left: 220px;
    width: 14px;
}
.es_con_all .es_con_form_1_performStartMin {
    top: 299px;
    left: 260px;
    width: 14px;
}
.es_con_all .es_con_form_1_performEndHour {
    top: 299px;
    left: 332px;
    width: 14px;
}
.es_con_all .es_con_form_1_performEndMin {
    top: 299px;
    left: 372px;
    width: 14px;
}
.es_con_all .es_con_form_1_contractStartYear {
    top: 685px;
    left: 200px;
    width: 47px;
}
.es_con_all .es_con_form_1_contractStartMonth {
    top: 685px;
    left: 271px;
    width: 34px;
}
.es_con_all .es_con_form_1_contractStartDay {
    top: 685px;
    left: 327px;
    width: 34px;
}
.es_con_all .es_con_form_1_contractEndYear {
    top: 685px;
    left: 416px;
    width: 47px;
}
.es_con_all .es_con_form_1_contractEndMonth {
    top: 685px;
    left: 486px;
    width: 34px;
}
.es_con_all .es_con_form_1_contractEndDay {
    top: 685px;
    left: 542px;
    width: 34px;
}
.es_con_all .es_con_form_1_performTime_2 {
    top: 339px;
    left: 224px;
    width: 14px;
}
.es_con_all .es_con_form_1_personalPrice {
    top: 339px;
    left: 460px;
    width: 79px;
}
.es_con_all .es_con_form_1_perform_Min {
    top: 299px;
    left: 471px;
    width: 25px;
}

.es_con_all .es_con_form_3_cancelDay {
    top: 339px;
    left: 684px;
    width: 24px;
}
.es_con_all .es_con_form_4_contractDateYear {
    top: 863px;
    left: 320px;
    width: 38px;
}
.es_con_all .es_con_form_4_contractDateMonth {
    top: 863px;
    left: 384px;
    width: 24px;
}
.es_con_all .es_con_form_4_contractDateDay {
    top: 863px;
    left: 430px;
    width: 24px;
}
.es_con_all .es_con_form_4_ownerName {
    top: 966px;
    left: 175px;
    width: 93px;
}
.es_con_all .es_con_form_4_storeName {
    top: 991px;
    left: 175px;
    width: 263px;
}
.es_con_all .form_4_storeName {
    text-align: left;
}
.es_con_all .es_con_form_4_storeAdress {
    top: 1043px;
    left: 144px;
    width: 274px;
    height: 60px;
}
.es_con_all .form_4_storeAdress {
    text-align: left;
    resize: none;
    word-break:break-all;
    font-size: small;
}
.es_con_all .form_4_ownerName {
    text-align: left;
}
.es_con_all .es_con_form_4_artistName {
    top: 966px;
    left: 495px;
    width: 93px;
}
.es_con_all .form_4_artistName {
    text-align: left;
}
.es_con_all .es_con_form_4_artistBirth {
    top: 991px;
    left: 522px;
    width: 104px;
}
.es_con_all .es_con_form_4_artistAdress {
    top: 1043px;
    left: 471px;
    width: 274px;
    height: 60px;
}
.es_con_all .form_4_artistAdress {
    text-align: left;
    resize: none;
    word-break:break-all;
    font-size: small;
}
.es_con_all .es_con_form_1_bankName {
    top: 387px;
    left: 280px;
    width: 93px;
}
.es_con_all .form_1_bankName {
    text-align: left;
}
.es_con_all .es_con_form_1_bankNumber {
    top: 387px;
    left: 456px;
    width: 127px;
}
.es_con_all .form_1_bankNumber {
    text-align: left;
}
.es_con_all .es_con_form_1_bankArtistName {
    top: 387px;
    left: 651px;
    width: 78px;
}
/* .es_con_all .form_1_bankArtistName {
    text-align: left;
} */
.es_con_all .es_con_owner_sign_div {
    top: 945px;
    left: 254px;
    width: 104px;
    position: absolute;
}
.es_con_all .es_con_owner_sign {
    width: 100%;
}
.es_con_all .es_con_artist_sign_div {
    top: 945px;
    left: 560px;
    width: 104px;
    position: absolute;
}
.es_con_all .es_con_artist_sign {
    width: 100%;
}