@CHARSET "UTF-8";
/* 신청자 목록 */
.applicant-list-warpper{
	padding-left: 20px;
	padding-right: 20px;
}

.al-header-title {
    padding-top: 5px;
}

#al-title{
	margin-top: 30px;
	margin-bottom: 25px;
}

.al-header{
	justify-content: space-between;
}

#al-list{
    background-color: #F7F7F7;
}

#al-list th{
	padding: 15px 5px;
	border-bottom: 1px solid #E5E5E5;
}

#al-list td{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 15px 5px;
	text-align:center;
}

.al-number{
	text-align: center;
}

.al-youtube{
	text-align: center;
}

.al-youtube > img{
	width: 40px;
}



/* 신청자 상세 */
.applicant-detail-warpper{
	padding-left: 20px;
	padding-right: 20px;
}

#ad-title{
	margin-top: 30px;
}

#ad-info{
	margin-top: 20px;
}

#ad-info th, #ad-info td{
    padding: 15px 0px;
   
}

#ad-info th{
	width: 35%;
    border-right: 1px solid #E5E5E5;
}

#ad-info td{
	padding-left: 5px;
	text-indent: 5px;
}

.ad-btn-container{
	justify-content: space-between;
}

#score{
	width: 100%;
    margin-top: 30px;
    padding: 15px;
    border: 2px solid #8354C8;
}

#score-apply{
	margin-top: 30px;
    padding: 15px 0px;
    text-align: center;
}

#send{
	margin-top: 30px;
}