@CHARSET "UTF-8";

@import url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/stylesheets/NotoSansKR-Hestia.css);

* {
	font-family: 'Noto Sans Korean', sans-serif;
	padding: 0;
	margin: 0;
	letter-spacing: -0.25px;
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	box-shadow: none;
}

body {
	background-color: #FAFAFA;
}

input[type=text], input[type=password], textarea {
	width: 100%;
	border: 1px solid #E5E5E5;
	height: 45px;
	padding: 10px 0px 10px 10px;
}

::-webkit-input-placeholder { /* Edge */
	color: #B7B7B7;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #B7B7B7;
}

::placeholder {
	color: #B7B7B7;
}

input, textarea{
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

input:focus, textarea:focus{
	outline: none;
	border-color: #8354C8;
}



input:not (input[type=checkbox] ), textarea {
	-webkit-appearance: none;
}

textarea {
	resize: none;
}

input[type=file] {
	display: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(/recruit/resource/img/common/showing_btn.svg) no-repeat
		92% 40%;
	background-size: 15%;
	min-width: 90px;
	text-indent: 5px;
	text-align: center;
	border: 1px solid #E5E5E5;
	font-size: 12px;
	padding: 5px;
}

table {
	width: 100%;
	margin-top: 15px;
	border: 1px solid #E5E5E5;
	border-spacing: 0;
	border-collapse: collapse;
	table-layout: fixed;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
	display: none;
}

/* 체크박스 이미지로 변경 */
input[type=checkbox] {
	display: none;
}

input[type=checkbox]+label {
	display: inline-block;
    cursor: pointer;
    line-height: 30px;
    padding-left: 30px;
    height: 30px;
    background: url(/recruit/resource/img/common/uncheck.png) left/22px no-repeat;
}

input[type=checkbox]:checked+label {
	background-image: url('/recruit/resource/img/common/check.png');
}

/* font 관련 */
.ft-thin {
	font-weight: 200;
}

.ft-medium {
	font-weight: 500;
}

.ft-bold {
	font-weight: 700;
}

.ft-10 {
	font-size: 10px;
}

.ft-12 {
	font-size: 12px;
}

.ft-14 {
	font-size: 14px;
}

.ft-15 {
	font-size: 15px;
}

.ft-16 {
	font-size: 16px;
}

.ft-17 {
	font-size: 17px;
}

.ft-18 {
	font-size: 18px;
}

.ft-20 {
	font-size: 20px;
}

.ft-25 {
	font-size: 25px;
}

.ft-45 {
	font-size: 40px;
}

.ft-white {
	color: #ffffff;
}

.ft-black {
	color: #333333;
}

.ft-purple {
	color: #8354C8;
}

.ft-lgray {
	color: #999999;
}

.ft-lgray-b {
	color: #BABABA;
}

.ft-lgray-c {
	color: #C6CACC;
}

.ft-gray {
	color: #595959;
}

.ft-gray-b {
	color: #767676;
}

.ft-dgray {
	color: #626262;
}

.under-line {
	text-decoration: underline;
}

/* background 관련 */
.bg-white {
	background-color: #ffffff;
}

.bg-black {
	backgroundcolor: #000000;
}

.bg-purple {
	background-color: #8354C8;
}

.bg-lgray {
	background-color: #F7F7F7;
}

.bg-gray {
	background-color: #6D6F79;
}

.bg-ldgray {
	background-color: #D8D8D8;
}

/* loading popup 관련 */
.loading-popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.loading-background {
	position: relative;
	width: 250px;
	height: 250px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: #f6f6f6;
	border-radius: 15px;
}

.loading-background img {
	margin-top: 95px;
}

.loading-background p {
	margin-top: 15px;
}

/* 장르 선택 popup 관련 */
.common_flex_container {
	display: flex;
	margin-top: 15px !important;
}

.gs_header_left {
	float: left;
}

.common_header_backbtn {
	padding-left: 20px;
	padding-top: 13px;
	width: 22px;
}

.gs_header_center {
	margin: 0 auto;
}

.common_header_text {
	font-size: 16px;
	text-shadow: none;
	margin-top: 14px;
	color: #333;
	text-align: center;
	padding: unset;
}

.gs_footer {
	background-color: #8354C8;
	width: 100%;
	text-align: center;
	font-weight: 700;
	color: #ffffff;
	padding-top: 15px;
}

/* 페이징 번호 관련 */
.middle_pagenum_wapper {
	margin-top: 30px;
}

#paging {
	justify-content: center;
}

.page_on {
	background-color: #E8E8E8;
	color: #595959;
	border: 1px solid #C6C6C6;
}

.mp_num {
	display: list-item;
	width: 25px;
	height: 25px;
	line-height: 25px;
	list-style: none;
	margin: 0px 7px;
	text-align: center;
	box-sizing: border-box;
}

.mp_btn {
	border: 1px solid #C6C6C6;
	background-color: #ffffff;
}

.mp_btn>img {
	width: 7px;
	margin-top: 7px;
}

.terms {
	paading: 20px;
}

.terms-title {
	margin: 10px 0px;
}

.terms table td {
	border: 1px solid #e5e5e5;
	text-align: center;
}

/* display 관련 */
.flex {
	display: flex;
}

.twice-box {
	justify-content: space-between;
}

.right-side {
	display: none;
}

/* .h-pt{
	padding-top: 110px;
}

.p-pt{
	padding-top: 70px;
}
 */
.btn {
	text-align: center;
	padding: 15px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	height: 25px;
}

.add-btn {
	padding: 10px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 25px;
}

.line-break {
	height: 10px;
}

.w-48 {
	width: 48% !important;
}

.no-list {
	text-align: center;
}

.w-header {
	display: none;
}

.hidden {
	display: none;
}