@CHARSET "UTF-8";
.mypage-warpper{
	padding: 30px 20px;
} 

.mp-title{
	margin-bottom: 30px;
}

.subtitle{
	margin-top: 20px;
}

.mp-input{
	margin-top: 10px;
}

#update{
	margin-top: 30px;
}

#logout{
	margin-top: 150px;
	background-color:#e5e5e5;
	color:#767676;
}