@CHARSET "UTF-8";
/* 채점결과보기 */
.score-list-warpper{
	padding-left: 20px;
	padding-right: 20px;
}

.sl-header-title {
    padding-top: 5px;
}

#sl-title{
	margin-top: 30px;
	margin-bottom: 25px;
}

.sl-header{
	justify-content: space-between;
}

.sl-header > #filter{
	width: 100px;
}

#sl-list{
    background-color: #F7F7F7;
}

#sl-list th{
	padding: 15px 5px;
}

#sl-list td{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 15px 5px;
	text-align: center;
}

.sl-check > input{
	width: 22px;
	height: 22px;
}

.sl-star {
    width: 12px;
    margin-right: 5px;
}

.sl-youtube > img{
	width: 40px;
}

#all-send{
	margin-top: 30px;
}

.score-list-warpper input[type=checkbox]+label{
	padding-left: 22px;
	height: 22px;
}

.score-list-warpper input[type=checkbox]:checked+label {
	background-image: url('/recruit/resource/img/common/check.png');
}