@CHARSET "UTF-8";

#rating_list #rl_team_select_div{
	font-size: 13px;
    padding: 10px 15px;
    text-align: left;
    background-color: #eeeeee;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
	margin-top:10px;
}

#rating_list #rl_team_select{
	border: none;
    text-decoration: underline;
	-webkit-appearance: none; /* 화살표 없애기 for chrome*/
	-moz-appearance: none;    /* 화살표 없애기 for firefox*/
	appearance: none;         /* 화살표 없애기 공통*/
	background-color: #eeeeee;
	background: url(/img/common/showing_btn.png) no-repeat 100% 50%;
    display: inline-block !important;
    background-size: 6%;
    width: 145px;
    letter-spacing: -1px;
}

#rl_team_select::-ms-expand {
   display: none;            /* 화살표 없애기 for IE10, 11*/
}

#rating_list #rating_list_top{
    padding: 20px 15px;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    background-color: #fff;
}

#rl_top_header .ui-block-a{
	text-align: left;
    font-size: 15px;
}

#rl_top_header #rl_team_name{
	color: #333 !important;
	font-size: 16px !important;
	font-weight: bold;
}

#rl_top_header .ui-block-b{
    text-align: right;
    margin-right: 15px;
    width: 42%;
    font-size: 18px;
    line-height: 1.7;
}

#rl_top_header #raty_total{
	display: inline-block;
	letter-spacing: -5px;
	width: 86px !important;
}

#rl_top_header #raty_total_score{
	display: inline;
    font-size: 22px;
}

#rating_list #rating_list_middle{
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
}

#rating_list_middle .ui-block-a{
	text-align: left;
    font-size: 14px;
}

#rating_list_middle .ui-block-b{
	text-align: right;
	margin-right: 15px;
	width: 42% !important;
	font-size: 12px;
	text-decoration: underline;
	padding-top: 5px;
	color: #888;
}

#rating_list_bottom .rl_bottom_content{
	padding: 15px;
    border-bottom: 1px solid #eee;
	

}

#rating_list_bottom .rl_bc_img{
	width: 30% !important;
    height: 120px;
}

#rating_list_bottom .rl_bc_img img{
	width: 100%;
	height: 100%;
}

#rating_list_bottom .rl_bc_content{
	width: 70% !important;
    text-align: left;
    padding-left: 15px;
}

#rating_list_bottom .rl_bc_header{
	width: 100% !important;
	font-size: 15px;
	padding-top: 5px;
	color: #333;
	margin-bottom: 10px;
}

#rating_list_bottom .rl_bc_body{
	width: 100% !important;
    line-height: 1.5;
    margin-bottom: 20px;
}

.rl_bc_body .ui-block-a{
	width: 100% !important;
    font-size: 13px;
}

.rl_bc_body .ui-block-b{
	width: 100% !important;
    font-size: 12px;
}

#rating_list_bottom .rl_bc_footer{
	width: 100% !important;
    font-size: 13px;
}

#rating_list_bottom .raty{
	cursor: default;
    width: auto !important;
    display: inline-block;
    letter-spacing: -5px;
}

#rating_list_bottom .raty img{
	width: 14px;
}

#rating_list_bottom .raty_score{
	font-size: 13px;
    display: inline-block;
}

#rating_list_bottom .raty_score a{
	color: #000 !important;
}


#rating_list .rl_cancel_btn{
	font-size:13px;
	text-decoration: underline;
	color: #427FF7;
}

#rating_list .rl_cancel_text{
	font-size:13px;
	color: #ff0000;
}