#manual_info * {
    letter-spacing: -0.25px;
}
#manual_info .mi_owner_container {
    height: 348px;
    text-align: center;
}
#manual_info .mi_owner_content {
    margin-top: 143px;
    text-align: center;
    display: inline-block;
}
#manual_info .mi_subtitle p {
    font: normal normal normal 14px/20px SpoqaHanSans;
    color: #9797A7;
}
#manual_info .mi_title {
    margin-top: 9px;
}
#manual_info .mi_title p {
    font: normal normal bold 19px/28px SpoqaHanSans;
    color: #333333;
}
#manual_info .mi_button {
    margin-top: 16px;
    background: #8354C8 0% 0% no-repeat padding-box;
    border-radius: 16px;
    text-align: center;
    font: normal normal normal 14px/32px SpoqaHanSans;
    color: #FFFFFF;
    width: 123px;
    height: 32px;
    display: inline-block;
}
#manual_info .mi_midline {
    background: #EEEEEE 0% 0% no-repeat padding-box;
    height: 1px;
    width: 100%;
}
#manual_info .mi_artist_container {
    height: 348px;
    text-align: center;
}
#manual_info .mi_artist_content {
    margin-top: 100px;
    text-align: center;
    display: inline-block; 
}