@CHARSET "UTF-8";

#manual_artist *{
    letter-spacing: -0.25px;
}

#manual_artist .ma_header{
    position: fixed;
    overflow: hidden;
    z-index: 1;
    background: white;

}
#manual_artist  .ma_header ul{
    width: 1000px;
    display: block;
    font-size: 0;
    white-space: nowrap;
    position: relative;
}

#manual_artist  .ma_header li{
    float: left;
}
#manual_artist .ma_header_t_on{
    
    height: 49px;
    margin-left: 15px;
    /* position: absolute; */
    line-height: 55px;
    border-bottom: 3px solid #8354C8;
    float: left;
}
#manual_artist .ma_header_t_base{
    height: 52px;
    margin-left: 15px;
    line-height: 55px;
    float: left;
}
#manual_artist .ma_header_t_t_on{
    text-align: center;
    font: normal normal bold 15px/22.5px SpoqaHanSans;
    color: #333333;
    opacity: 1;
}
#manual_artist .ma_header_t_t_base{
    text-align: center;
    font: normal normal normal 15px/22.5px SpoqaHanSans;
    color: #9797A7;
    opacity: 1;
}
#manual_artist .ma_content{
    width: 100%;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    margin-top: 54px;
}
#manual_artist .ma_content_box{

}
#manual_artist .ma_content_box_num{
    width: 23px;
    height: 23px;
    background: #8354C8 0% 0% no-repeat padding-box;
    margin-top: 45px;
    border-radius: 50%;
    text-align: center;
    font: normal normal normal 14px/20.5px SpoqaHanSans;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 46%;
}
#manual_artist .ma_content_box_title_a{
    text-align: center;
    font: normal normal bold 18px/25px SpoqaHanSans;
    color: #333333;
    margin-top: 7px;
    opacity: 1;
}
#manual_artist .ma_content_box_title_b{
    text-align: center;
    font: normal normal normal 14px/25px SpoqaHanSans;
    color: #595959;
    opacity: 1;
}
#manual_artist .ma_content_box_img{
    margin-top: 20px;
}
#manual_artist .ma_content_img{
    width: 275px;
    height: 471px;
}


