@CHARSET "UTF-8";
/* 메인 header 부분 */
header{
	width: 100%;
	position: fixed;
    top: 0;
    z-index: 8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header_wapper {
    display: flex;
    height: 55px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
}

.hw_image_container {
    width: 100px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hw_image_container > img {
	max-width: 120%;
    max-height: 120%;
    margin-left: 60px;
    padding-top: 4px;
    
	
}

.hw_panel_btn{
	width: 50px;
    height: 50px;
}

.header_wapper i {
    font-size: 25px;
    vertical-align: middle;
    line-height: 55px;
}

/* 투명, 불투명헤더부분 */
.header_wapper_2 {
    display: flex;
    height: 55px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
}

.hw_left {
    width: 50vw;
    float: left;
}

.hw_right {
    width: 50vw;
    float: left;
    text-align: right;
}

.hw_left img{
}

.hw_right img{
}

.hw_back_btn {
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
	padding-left: 20px;
}

.hw_home_btn {
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
	padding-left: 20px;
}

.hw_cart_btn {
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-right: 10px;
}

.hw_panel_btn {
	width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
	
	padding-right: 20px;
}
