@CHARSET "UTF-8";

#busking_time_reg .btr {
}
#busking_time_reg .btr_img {
    width: 100%;
    height: 276px;
}
#busking_time_reg .btr_intro_container {
    position: absolute;
    top: 123px;
    left: 15px;

    height: 120px;
    width: auto;
}
#busking_time_reg .btr_intro_1 {
    width: 100%;

    text-align: left;
    font: normal normal bold 23px/29px SpoqaHanSans;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}
#busking_time_reg .btr_intro_2 {
    margin-top: 10px;
    width: 100%;

    text-align: left;
    font: normal normal normal 14px/20px SpoqaHanSans;
    letter-spacing: -0.5px;
    color: #D6C2F4;
}
#busking_time_reg .btr_recruitment {
    height: 125px;
    width: 340px;
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
    vertical-align: middle;
    display: inline-block;
}
#busking_time_reg .title_left {
    float: left;
    text-align: left;
}
#busking_time_reg .title_left:before {
    content: ""; display: inline-block;
    width: 1px; height: 100%;
    margin-right: 0; vertical-align: middle;
}
#busking_time_reg .title_left_text {
    display: inline-block;
    vertical-align: middle;
}
#busking_time_reg .title_right {
    float: right;
    text-align: right;
}
#busking_time_reg .title_right:before {
    content: ""; display: inline-block;
    width: 1px; height: 100%;
    margin-right: 0; vertical-align: middle;
}
#busking_time_reg .title_arrow {
    width: 14px;
    height: 26px;
    color: #AEB1BF;
    opacity: 1;
}
#busking_time_reg span {
    text-align: left;
    
    font: normal normal bold 18px/27px SpoqaHanSans;
    letter-spacing: -0.5px;
}
#busking_time_reg .title_point {
    color:#8354C8;
}
#busking_time_reg .title_sub{
    margin-top: 5px;
    font: normal normal normal 14px/20px SpoqaHanSans;
    letter-spacing: -0.5px;
    color: #666666;
}


#busking_time_reg .notice_wrap{
    background: #F9F9FB 0% 0% no-repeat padding-box;
    /* height: 207px; */
    height: 250px;
}
#busking_time_reg .notice {
    width: 340px;
    text-align: left;
    margin-top: 23px;

    display: inline-block;
}
#busking_time_reg .p_notice {
    text-align: left;
    letter-spacing: -0.5px;
    color: #AEB1BF;
}
#busking_time_reg .notice_title {
    font: normal normal bold 14px/20px SpoqaHanSans;
    letter-spacing: -0.5px;
}
#busking_time_reg .notice_content {
    font: normal normal normal 14px/20px SpoqaHanSans;
    letter-spacing: -0.5px;
}

#busking_time_reg div[data-role=content]{
	padding: 0;
	margin-bottom: calc(0px + env(safe-area-inset-bottom));
	margin-bottom: calc(0px + constant(safe-area-inset-bottom));
	text-align: center;
	height: 100% !important;
	overflow: scroll;
	overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    
}