@CHARSET "UTF-8";
#team_info .til_container{
	padding: 15px;
	padding-bottom: 10px;
	text-align: left;
	border-bottom: 1px solid #eeeeee;
}

#team_info .til_img_div{
	width: 120px;
	height: 120px;
}

#team_info .til_img_div img{
	width: 100%; 
	height: 100%;
	display: inline-block;
}

#team_info .til_content_container{
	width: 55% !important;
	padding-left: 10px;
	line-height: 1.6;
}

#team_info .til_cc_title{
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	font-size: 15px;
}

#team_info .til_cc_star_contianer{
	width: 40% !important;
	letter-spacing: -5px;
	padding-top: 5px;
}

#team_info .til_cc_star_text{
	font-size: 13px;
	width: 35px;
	margin-left: 5px;
	color: #9e9e9e;
}

#team_info .til_cc_star_text p{
	font-size: 10px;
	padding-top: 4px;
}

#team_info .til_cc_subject{
	font-size: 13px;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	word-wrap:break-word;
	line-height:1.4; 
	height:2.6em; 
	color:#777;
}

#team_info .til_cc_writeinfo{
	font-size: 12px;
	margin-top: 15px;
}

#team_info .til_cc_nickname{
}

#team_info .til_cc_date{
	color: #9e9e9e;
	margin-left: 5px;
	font-size:10px;
}

#team_info .til_cc_btnimg{
	width: 10%;
	font-size : 22px;
	padding-top: 48px;
	text-align: right;
	color: #c7c7c7;
}

#team_info .til_cc_btnimg img{
	width: 40%;
	display: inline-block;
}


/* 별점부분 별모양 크기 관련 CSS */
#team_info .br-theme-fontawesome-stars .br-widget a{
	font-size: 13px;
	letter-spacing:-2.9px;
}