@CHARSET "UTF-8";

#team_create .ui-body-inherit{
	box-shadow: none;
}

#team_create #tcreate_img{
	display: none;
}

#team_create #area-select-button::after{
	display: none;
}

#team_create #team_member_addBtn{
	color: #fff;
	margin: 15px;
	background-color: #8354c8;
	line-height: 3.4;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
}


#team_create #team_member_add_div{
	border-top: 1px solid #e5e5e5;
}

#team_create #team_member_count{
	width: 30%;
    margin: 13px;
    padding: 4px;
    background: #eeeeee;
    border-radius: 5px;
}

#team_create #team_member_count .ui-block-a{
	font-size: 13px;
	width: 55%;
	text-align: left;
}

#team_create #team_member_count .ui-block-b{
	font-size: 13px;
    text-align: right;
    width: 45%;
    padding-right: 3px;
}

#team_create .team_member_content{
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    width: 100%;
}

#team_create #team_member_content{
	padding: 15px 15px 0px 15px;
}

#team_create .team_member_content_body{
	width: 50%;
    height: 52px;
    float: left;
    margin-bottom: 15px;
   	position: relative;
}

#team_create #tmcb_del_btn{
	width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

.team_member_content img{
	width: 100%;
	height: 100%;
}

.team_member_content .team_member_content_con{
	width: 65% !important;
    padding: 10px 0px 10px 20px;
    text-align: left;
}


#team_member_add_div .tm_content_name{
	width: 100% !important;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

#team_member_add_div .tm_content_genre{
	width: 100% !important;
    font-size: 10px;
    color: #bbbaba;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

#team_create #team_create_video{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}

#team_create #tc_video_file{
	display: none;
}

#team_create #tc_video_content{
	height: 110px;
}

#team_create #tc_video_img{
	width: 30% !important;
    height: 108px;
    background: url(/img/common/th_image.svg) no-repeat 50% 50%;
    background-size: contain;
	border: 1px solid #dfdfdf;
}

#team_create #tc_video_img_src{
	width: 100%;
	height: 100%;
}

#team_create #tc_video_intro{    
	padding-top: 10px;
}

#team_create #tc_video_intro textarea{
	margin: 0 auto;
	font-size: 14px;
	color: #333;
	border-radius: unset;
}


/* 팀/솔로 설정 select box */
/* 지역 */
#team_create #area-select-box{
	padding: 5px 15px 0px 15px;
}

#area-select-button{
	background-color: white;
	box-shadow: none;
	border-radius: 0px;
	color: #b2b2b2;
    background: url(/img/common/showing_btn.svg) no-repeat 95% 50%;
    background-size: 4%;
    -webkit-appearance: none;
    text-align-last: center;
    appearance: none;
    padding: 7px 0px;
    font-size: 15px;
}

#team-select-button{
	background-color: white;
	box-shadow: none;
	border-radius: 0px;
	color: #b2b2b2;
    background: url(/img/common/showing_btn.svg) no-repeat 95% 50%;
    background-size: 4%;
    -webkit-appearance: none;
    text-align-last: center;
    appearance: none;
    padding: 7px 0px;
    font-size: 15px;
}

#area-select-button:after{
	display: none;
}

#team-select-button:after{
	display: none;
}

/* 멤버 추가하기 팝업 */
#team_create #team_member_add_popup{
	background: none;
    position: fixed;
    top: 20%;
    left: 7%;
    height: 400px;
    z-index: 10000;
	border: none;
}

#team_create #tm_add_popup_header{
	text-align: right;
}

#team_create #tm_add_popup_header img{
	width: 8%;
}

#team_create #tm_add_popup_body{
	background-color: #fff;
	height: 320px;
}

#tm_add_popup_body .ui-body-inherit{
	border-radius: 0px;
    text-indent: 15px;
}

#tm_add_popup_body #tm_search_img{
	position: absolute;
    background: url(/img/team/search.png) no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    left: 8%;
    top: 55%;
}

#tm_add_popup_body #tm_add_search{
	padding: 20px 15px 0px 15px;
	position: relative;
}

#tm_add_popup_body #tm_add_popup_content{
	padding: 5px 15px 15px 15px;
	height: 144px;
	position: relative;
	text-align: center;
	overflow: hidden;
}

#tm_add_popup_content ul{
	margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#tm_add_popup_content li{
	float: left;
	margin-left: 0 !important;
	margin-right: 10px;
}

#tm_add_popup_content .tm_member_container{
	width: 110px;
	float: left;
	margin-right: 2px;
}

#tm_add_popup_content #tm_add_popup_a{
	width: 100%;
    height: 100px;
}

#tm_add_popup_content #tm_add_popup_a img{
	width: 100%;
    height: 100%;
    opacity: 1;
}

#tm_add_popup_content #tm_add_popup_b{
	width: 100%;
    font-size: 15px;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

#tm_add_popup_content #tm_add_popup_c{
	width: 100%;
    font-size: 12px;
    color: #bbbaba;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

#tm_add_popup_content #tm_add_popup_none{
	position: absolute;
    left: 100px;
    top: 40px;
    font-size: 13px;
    color: #878787;
}

#team_create #tm_add_list{
	height: 80px;
    padding: 10px 20px;
    background-color: #eeeeee;
}

#tm_add_list .tm_add_content{
	height: 100%;
    width: 60px;
    position: relative;
    display: inline-block;
}

#tm_add_list #team_add_list_img{
	width: 45px;
    height: 45px;
    margin-top: 5px;
}

#tm_add_list #team_add_list_img img{
	height: 100%;
	width: 100%;
}

#tm_add_list #team_add_list_name{
	width: 45px;
    font-size: 10px;
    text-align: center;
}

#tm_add_list #team_add_list_del{
	position: absolute;
	width: 25%;
	right: 8px;
	top: 0;
}

#team_member_add_popup #tm_add_popup_footer{
	height: 50px;
	line-height: 3.5;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

#tm_add_popup_footer #tm_member_add_btn{
	background-color: #8354c8;
	width: 100%;
}

#tm_add_popup_footer #tm_member_save_btn{
	background-color: #333;
}


/* 신청내역 CSS */
#team_create_status #genre-select-box{
	padding: 5px 15px 0px 15px;
}

#team_create_status .team_cs_header{
	padding: 10px 15px;
	border-bottom: 1px solid #dfdfdf;
}

#team_create_status .team_cs_name{
	text-align: left;
	font-weight: bold;
}

#team_create_status .team_cs_go_history{
	text-align: right;
    font-size: 12px;
    padding-top: 4px;
    text-decoration: underline;
	color:#888;
}

#team_create_status .team_cs_liner{
	background-color: #eeeeee;
	height: 8px;
}

#team_create_status .team_cs_content{
	padding: 15px;
    border-bottom: 1px solid #eeeeee;
    height: 75px;
}

#team_create_status .team_cs_body{
}

.team_cs_content .t_cs_content_img{
	width: 22% !important;
    height: 100%;
}

.team_cs_content .t_cs_content_img img{
	width: 100%;
	height: 100%;
}

.team_cs_content .t_cs_content_subject{
	padding: 8px 0px 15px 30px;
	text-align: left;
	width: 46% !important;
	line-height: 1.65;
}

.team_cs_content .t_cs_content_name{
	width: 100% !important;
    font-size: 14px;
    color : #333;
}

.team_cs_content .t_cs_content_genre{
	width: 100% !important;
    font-size: 11px;
    color: #888;
	line-height: 1.2;
    padding-top: 2px;
    padding-right: 10px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.team_cs_content .t_cs_content_btn{
	width: 32%;
    padding-top: 25px;
    text-align: right;
    float: right;
}

.team_cs_content .t_cs_success_btn{
	font-size: 12px;
    border: 1px solid #8354c8;
    padding: 3px 5px;
    border-radius: 5px;
    color: #8354c8;
    display: inline-block;
}

.team_cs_content .t_cs_content_btn_1{
	width: 28%;
    padding-top: 15px;
    text-align: right;
}

.team_cs_content .t_cs_accept_btn{
	font-size: 13px;
    background-color: #8354c8;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    width: 40px !important;
    height: 40px;
    padding-top: 14px;
    margin-right: 10px;
}

.team_cs_content .t_cs_refuse_btn{
	font-size: 13px;
    background-color: #959595;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    width: 40px !important;
    height: 40px;
    padding-top: 14px;
}

.team_cs_content .t_cs_proceeding_btn{
	font-size: 12px;
    border: 1px solid #a4a4a4;
    padding: 3px 11px;
    border-radius: 5px;
    color: #a4a4a4;
    display: inline-block;
}

.team_cs_content .t_cs_proceeding_btn{
	font-size: 12px;
    border: 1px solid #a4a4a4;
    padding: 3px 11px;
    border-radius: 5px;
    color: #a4a4a4;
    display: inline-block;
}

.team_cs_content .t_cs_refusal_btn{
	font-size: 12px;
	border: 1px solid #f15252;
	padding: 3px 17px;
	border-radius: 5px;
	color: #f15252;
	display: inline-block;
}

#tc_create_status_container .team_cs_body_footer{
	padding-bottom: 40px;
}


/* 팀/솔로 수정 폼 CSS */
#team_create_update .ui-body-inherit{
	box-shadow: none;
}

#team_create_update .team_create_title{
	padding: 25px 15px 5px 15px;
	text-align: left;
	font-size: 13px;
}

#team_create_update #team_create_img{
	height: 180px;
	border-top: 1px solid #f3f1f3;
    border-bottom: 1px solid #f3f1f3;
    background: url(/img/common/camera.png) no-repeat 50%;
}

#team_create_update #tcreate_img{
	display: none;
}

#team_create_update .team_create_content{
	padding: 0px 15px 0px 15px;
	height: 40px;
}

#team_create_update .team_create_text{
	font-size: 14px;
    letter-spacing: -1px;
    color: #333;
    resize: none;
}


#team_create_update #member_cancle_btn{
	width: 10% !important;
    padding-top: 15px;
}

#team_create_update #member_cancle_btn img {
    height: 33% !important;
}

#team_create_update #team_member_addBtn{
	margin: 15px;
	background-color: #8354c8;
	line-height: 3.2;
	/* border: 1px solid #e5e5e5; */
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	border-radius: 4px;
}

#team_create_update #team_member_add_div{
	border-top: 1px solid #e5e5e5;
}

#team_create_update #team_member_count{
	width: 30%;
    margin: 13px;
    padding: 4px;
    background: #eeeeee;
    border-radius: 5px;
}

#team_create_update #team_member_count .ui-block-a{
	font-size: 13px;
	width: 55%;
	text-align: left;
}

#team_create_update #team_member_count .ui-block-b{
	font-size: 13px;
    text-align: right;
    width: 45%;
    padding-right: 3px;
}

#team_create_update .team_member_content{
	width: 100%;
	display: inline-block;
    border-bottom: 1px solid #e5e5e5;
}

#team_create_update #team_member_content{
	padding: 15px 15px 0px 15px;
}

#team_create_update .team_member_content_body{
	width: 50%;
    height: 52px;
    float: left;
    margin-bottom: 15px;
   	position: relative;
}

#team_create_update #tmcb_del_btn{
	width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

#team_create_update #team_create_video{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}

#team_create_update #tc_video_file{
	display: none;
}

#team_create_update #tc_video_content{
	height: 110px;
}

#team_create_update #tc_video_img{
	width: 30% !important;
    height: 108px;
    background: url(/img/common/th_image.svg) no-repeat 50% 50%;
    background-size: contain;
	border: 1px solid #dfdfdf;
}

#team_create_update #tc_video_img_src{
	width: 100%;
	height: 100%;
}

#team_create_update #tc_video_intro{    
    padding-top: 10px;
}

#team_create_update #tc_video_intro textarea{
	margin: 0 auto;
	font-size: 14px;
	color: #333;
	border-radius: unset;
}

#team_create_update #tmcb_mem_del_btn{
	width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

/* 팀/솔로 설정 select box */
/* 장르 */

#team_create_update #genre-select-box2{
	padding: 5px 15px 0px 15px;
}

#team_create_update #genre-select{
	text-align: center;
}

#genre-select-button .ui-li-count{
	display: none !important;
}

#team_create_update .ui-btn-icon-right:after{
	display: none !important;
}

/* 지역 */
#team_create_update #area-select-box2{
	padding: 5px 15px 0px 15px;
}


/* 팀/솔로 신청내역 팝업 */
#team_create_update #team_member_add_popup{
	background: none;
    position: fixed;
    top: 20%;
    left: 7%;
    height: 380px;
    z-index: 9999;
	border: none;
}

#team_create_update #tm_add_popup_header{
	text-align: right;
}

#team_create_update #tm_add_popup_header img{
	width: 8%;
}

#team_create_update #tm_add_popup_body{
	background-color: #fff;
	height: 320px;
}

#team_create_update #tm_add_list{
	height: 80px;
    padding: 10px 20px;
    background-color: #eeeeee;
}

