@CHARSET "UTF-8";
/* perform_reg IMG BOX CSS */
#perform_reg #perform_reg_img_container{
	width: 100%;
    height: 150px;
    background-color: #eeeeee;
    padding: 5px 32%;
}

#perform_reg #perform_reg_img_container .ui-corner-all{
	display: none;
}

#perform_reg #pr_reg_background{
	background-color: #fff;
    height: 100%;
    width: 37%;
}

#perform_reg #perform_reg_img{
	width: 100%;
    height: 100%;
    background: url(/img/common/camera.png) no-repeat 50%;
}

#perform_reg #perform_img{
	display: none; 
}

/* perform_reg 시간부분 추가 */
#perform_reg #perform_reg_stime{
	width: 42% !important;
    padding-right: 0px;
    margin: 0 auto;
    display: inline-block;
    float: left;
}

#perform_reg_stime .ui-block-a{
	width: 45% !important;
}

#perform_reg_stime .ui-block-b{
	width: 10%;
    line-height: 3;
}

#perform_reg_stime .ui-block-c{
	width: 45% !important;
}

#perform_reg #perform_reg_time_middle{
	display: inline-block;
    float: left;
    line-height: 3;
    padding: 0px 13px 0px 10px;
}

#perform_reg #perform_reg_etime{
	width: 42% !important;
    padding-left: 0px;
    margin: 0 auto;
    display: inline-block;
    float: left;
    padding-right: 0px;
}

#perform_reg_etime .ui-block-a{
	width: 45% !important;
}

#perform_reg_etime .ui-block-b{
	width: 10%;
    line-height: 3;
}

#perform_reg_etime .ui-block-c{
	width: 45% !important;
}

/* 공연일정 등록 페이지 지도설정 */
#perform_reg .prc_map_text {
    font-size: 14px;
    text-decoration: underline;
    padding: 13px 0px;
    border: 1px solid #eee;
    color: #2196F3;
    border-radius: 0.5em;
    margin-bottom: 15px;
    margin-top: 10px;
}

#perform_reg .prc_map_div {
    width: 100%;
    height: 180px;
    margin: 10px 0px;
    display: none;
}