@CHARSET "UTF-8";
#pbi_write #pbi_write_sec{
	padding: 15px !important;
}

#pbi_write .pbi_ws_title {
    font-size: 13px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: left;
}

#pbi_write .ui-input-text {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}

#pbi_write .ui-btn-icon-right:after{
	display: none;
}

#pbi_write .ui-icon-carat-d{
	padding: 5px;
    font-size: 13px;
    background-color: #ffffff;
}

#pbi_write .pbi_ws_postcode .ui-block-a{
	width: 70% !important;
}

#pbi_write .pbi_ws_postcode .ui-block-b{
	width: 30% !important;
	text-align: right;
}

#pbi_write .pbi_ws_postcode_search{
	display: inline-block;
    background-color: #9C27B0;
    color: #ffffff;
    margin-top: 14px;
    font-size: 14px;
    padding: 5px;
}

#pbi_write textarea{
	resize: none;
	margin-bottom: 50px;
}

