@CHARSET "UTF-8";
#pbi_list .nav_h_type li{
	width: auto !important;
	border-bottom: 1px solid #eeeeee !important;
	background-color: #ffffff !important; 
}

#pbi_list .ui-input-text{
	border-radius: 50px;
    height: 30px;
    border: none;
    margin: 0;
    margin-bottom: 3px;
}

/* 공연일정 팀 검색버튼 */
#pbi_list #pbi_search .ui-block-a{
	width: 7% !important;
    text-align: left;
}


#pbi_list #pbi_search .ui-block-b{
	width: 83% !important;
}

#pbi_list #pbi_search .ui-block-c{
	width: 10% !important;
	text-align: right;
}

/* 리스트부분 CSS */
#pbi_list .pbi_list_container{
	padding:15px;
	height: 120px;
	border-bottom: 1px solid #f9f9f9;
}

.pbi_list_container:first-child {
    padding-top: 10px !important;
}

#pbi_list .pbi_lc_thumnail{
	width: 26% !important;
	position: relative;
}

#pbi_list .pbi_lc_thumnail img{
	width:100%;
	height: 100%;
	border-radius: 5px;
	max-height: 123px;
}

#pbi_list .pbi_lc_content{
	width: 62% !important;
	text-align: left;
	padding-left: 15px;
	position: relative;
}

#pbi_list .pbi_lc_state {
    display: inline-block;
    font-size: 9px;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 2px;
    top: 1px;
    margin-bottom: 2px;
}

#pbi_list .pbi_lc_ing {
    background-color: #0DB2AE;
}

#pbi_list .pbi_lc_end {
    background-color: #9E9E9E;
}

#pbi_list .pbi_lc_wait {
    background-color: #03A9F4;
}

#pbi_list .pbi_lc_title {
    position: relative;
    display: inline-block;
    max-width: 100%;
    font-size: 15px;
    margin-bottom: 6px;
    line-height: 19px;
}

.pbi_lc_title > p{
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 34px;
    color: #3d3d3d;
    text-decoration: none;
}

.pbi_lc_title img{
	/* position: absolute; */
    bottom: 3px;
    right: 10px;
    display: inline-block;
    width: 25px;
    margin-right: 5px;
}

#pbi_list .pbi_lc_info {
    font-size: 12px;
    letter-spacing: -0.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
    overflow: hidden;
    color: #666;
}

.pbi_lc_genre{
    font-size: 10px;
    letter-spacing: -0.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
    overflow: hidden;
    color: #666;
}

.pbi_lc_img_back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
    text-align: center;
    line-height: 120px;
    font-size: 15px;
    border-radius: 5px;
    color: #ffffff;
}

#pbi_list .pbi_lc_btn{
	width: 10% !important;
	height: 100%;
	text-align: right;
	padding-top: 15%;
	margin-top: 1px;
}

#pbi_list .pbi_lc_top_1{
	margin-top: 4px;
	color: #595959;
	padding-bottom: 2px;
}

#pbi_list .pbi_lc_top_2 {
    margin-top: 6px;
    margin-bottom: 4px;
    color: #757575;
    border: 1px solid #f5f5f5;
    display: inline-block;
    padding: 1px 4px;
    background-color: #f5f5f5;
    font-size: 10px;
}

#pbi_list .pbi_lc_btn img{
	width: 40%;
	opacity: 0.5;
}