@CHARSET "UTF-8";
body{
	width: 100%;
	margin: 0 auto;
}

.aic_addr_table{
	display: none;
}

.aic_phone_table{
	display: none;
}

.aic_nickname_table{
	display: none;
}

.artist_info_container{
	padding-top: 5%;
}

#aic_search{
	border: 1px solid #000000;
    width: 100%;
    padding: 2%;
}


.aic_table th, .aic_table td {
    width: 25%;
    font-size: 13px;
    text-align: center;
    max-width: 155px;
    overflow: hidden;
}


/* 팝업부분 */
.aic_popup{
	position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 4px 10px 7px #a2a2a2;
    display: none;
}

.aic_title{
	text-align: left;
    padding: 10px;
    font-size: 14px;
    border-bottom: 2px solid #d9d9d9d9;
}

#artist_name{
	display: inline-block;
    margin: 0 auto;
    font-weight: bold;
    color: #9C27B0;
}

#aic_popup_close{
	position: absolute;
    bottom: 10%;
    left: 45%;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px;
}

#aic_table{
	width: 100%;
    text-align: center;
    font-size: 13px;
    padding-top: 15px;
}
