@CHARSET "UTF-8";
.login_page_container{
	margin-top: 10%;
    padding: 15px;
    text-align: center;
}

.login_page_container input {
   width: 100%;
    margin-top: 5%;
    padding: 10px;
}

.lpc_success_btn{
	display: inline-block;
    font-size: 0.8em;
    background-color: #9C27B0;
    padding: 10px 15px;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 10%;
    width: 20%;
    text-align: center;
}
