@charset "UTF-8"; 

*{
    letter-spacing:-0.5px;
}

/* background */
#busking_store_reg_complete_content{
    width: 100%;
    height: 100%; /* = 812px - 45px = 767px */
    position: relative;
    z-index: 1;
}

/* button */
.confirm_btn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #8354c8;
    color: white;
    font-size: 15px;
    text-align: center;
    border:0;
    outline:0;
    bottom:0;
    position: fixed;
}

.connect_btn_a{
    margin: 10px 10% 100px 10%;
    width: 80%;
    height: 50px;
    line-height: 50px;
    color: #8354c8;
    border: 1px solid #8354c8;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
}

.connect_btn_b{
    margin: 100px 10% 50px 10%;
    width: 80%;
    height: 50px;
    line-height: 50px;
    color: #8354c8;
    border: 1px solid #8354c8;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
}

.connect_btn_c{
    margin: 75px 10% 50px 10%;
    width: 80%;
    height: 50px;
    line-height: 50px;
    color: #8354c8;
    border: 1px solid #8354c8;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
}

/* icon */
.icon-exit{
    width: 5%;
    margin: 10px 7% 10px 88%;
}

.icon-shape-circle{
    margin: 40px 260px 10px 10%;
    width: 70px;
    height: 70px;
    background: #8354C8;
    box-shadow: 0px 10px 20px #8354C860;
    border-radius: 100px;
    opacity: 1;
}

/* contents */
.txt-title{
    margin: 30px 10% 30px 10%;
    width: 80%;
    height: 34px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    font-family: "SpoqaHanSans";
    letter-spacing: -2.3px;
    color: #333333;
    opacity: 1;
}

.txt-middle-a{
    margin: 20px 30% 20px 10%;
    width: 60%;
    text-align: left;
    font-size: 14px;
    font-family: "SpoqaHanSans";
    letter-spacing: -1.4px;
    color: #999999;
    opacity: 1;
}

.txt-middle-b{
    margin: 20px 35% 20px 10%;
    width: 55%;
    text-align: left;
    font-size: 14px;
    font-family: "SpoqaHanSans";
    letter-spacing: -1.4px;
    color: #999999;
    opacity: 1;
}

.txt-middle-c{
    margin: 20px 20% 20px 10%;
    width: 70%;
    text-align: left;
    font-size: 14px;
    font-family: "SpoqaHanSans";
    letter-spacing: -1.4px;
    color: #999999;
    opacity: 1;
}

.txt-contents-a{
    margin: 20px 30% 40px 10%; 
    width: 60%;
    text-align: left;
    font-size: 14px;
    font-family: "SpoqaHanSans";
    letter-spacing: -1.4px;
    color: #333333;
    opacity: 1;
}

.txt-contents-b{
    margin: 20px 10% 40px 10%; 
    width: 80%;
    text-align: left;
    font-size: 14px;
    font-family: "SpoqaHanSans";
    letter-spacing: -1.4px;
    color: #333333;
    opacity: 1;
}

/* line */
.ui-line-a{
    margin: 10px 10% 10px 10%;
    width: 80%;
    height: 1px;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    opacity: 1;
}

.ui-line-b{
    margin: 10px 10% 10px 10%;
    width: 80%;
    height: 1px;
    background:#F6F6F6 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* table */
table, 
tr, 
th, 
td{
    border: 0;
}

.tab_busking_info{
    width: 80%;
    margin: 10px 10% 10px 10%;
}

.tab_busking_title{
    text-align: left;
    color: #7B7D88;
    opacity: 1; 
}

.tab_busking_contents{
    text-align: right;
    color: #333333;
    opacity: 1;
}