@charset "UTF-8";

#busking_store_update *{
    letter-spacing:-0.5px;
}
/* 버스킹존 상세페이지 이미지 슬라이드부분 CSS */
#busking_store_update #bdc_pfsc_ing_body{
    overflow: hidden;
    height: 85px;
    z-index: 3;
}

#busking_store_update #bdc_pfsc_ing_body ul{
	margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#busking_store_update #bdc_pfsc_ing_body li{
    float: left;
    margin-inline: 4px;
}

/* 버스킹존 상세페이지 이미지 슬라이드 버튼부분 CSS */
#busking_store_update #busking_store_reg_content{
	position: relative;
}

#busking_store_update #bdc_img_selecter {
    position: absolute;
    top: 840px;
    left: 70%;
    width: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    transform: translate(-50%, -50%);
}

#busking_store_update #bdc_img_selecter li {
	display: inline-block;
    float: left;
    font-size: 9px;
    margin-left: 5px;
    color: #d4d4d482;
    border-radius: 5em;
}

#busking_store_update #bdc_img_selecter li:first-child {
    margin-left: 0px;
}

#busking_store_update .bdc_img_active{
	color: #8354c8 !important;
}

#busking_store_update .rb_semiTitle_A{
    width: 80%;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    float: left;
    margin-left: 14px;
    margin-top: 26px;

}
#busking_store_update .rb_semiTitle_B{
    width: 80%;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    float: left;
    margin-left: 14px;
    margin-top: 22px;

}

#busking_store_update .common_form_main_title{
    
    margin-bottom: -5px;
    width: 100%;
    height: 27px;
    line-height: 30px;
    float: left;
    text-align: left;
    font: normal normal bold 12px SpoqaHanSans;
    color: #666666;
    opacity: 1;
    padding: 10px 15px 0px 15px;
}

#busking_store_update #img_cancel{
    width: 18px;
    height: 18px;
    position:absolute;
    background: url(/img/store/bsr_cancel.svg) no-repeat;
    background-size: cover;
    border-radius: 50px;
    color: white;
    z-index: 2;
    margin-left: 64px;
    margin-top: 3px;
}
/* 등록완료 */
#busking_store_update .button_registrations{

    width: 100%;
    height: 60px;
    line-height: 50px;
   
    text-align: center;
    border:0;
    outline:0;
    bottom:0;
    position: fixed;
    z-index: 10;
 
}
#busking_store_update .button_registration_a{
    width: 50%;
    height: 60px;
    line-height: 50px;
    background: #F0F1F4 0% 0% no-repeat padding-box;
    color: #333333;
    font: normal normal bold 16px/60px SpoqaHanSans;
    text-align: center;
    border:0;
    outline:0;
    bottom:0;
    float: left;
   
}
#busking_store_update .button_registration_b{
    width: 50%;
    height: 60px;
    line-height: 50px;
    background: #8354c8;
    color: white;
    font: normal normal bold 16px/60px SpoqaHanSans;
    text-align: center;
    border:0;
    outline:0;
    bottom:0;
    float: right;
    
}
#busking_store_update .button_registration_c{
    width: 100%;
    height: 60px;
    line-height: 50px;
    background: #B9BABE 0% 0% no-repeat padding-box;
    color: #F7F7F7;
    font: normal normal bold 16px/60px SpoqaHanSans;
    text-align: center;
    border:0;
    outline:0;
    bottom:0;
    float: left;
   
}

#busking_store_update .view_detail{
    float: right;
    text-decoration: underline;
    font-size: 12px;
}

#busking_store_update .boxing{
    margin: 0px 0px 10px 0px; 
    padding: 15px;
    width: 50px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000029;
    border: 2px solid #E2E2E8;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    color: #999999;
    font-size: 13px;
}

#busking_store_update .boxing_img_upload{
    margin: 0px 0px 10px 0px; 
    padding: 15px;
    width: 50px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000029;
    border: 2px solid #E2E2E8;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    color: #999999;
    font-size: 13px;
}

#busking_store_update .common_form_main_title_b{
    width: 100%;
    padding: 30px 15px 5px 15px;
    text-align: left;
    font-size: 13px;
}

#busking_store_update #brc_addrsearch_btn{
    text-align: 50px;
    color:  #8354C8;
    background: #F6F6F8 0% 0% no-repeat padding-box;
    border: 1px solid #8354C8;
    border-radius: 4px;
    opacity: 1;
}

#busking_store_update #area_hashtag{
    width: 100%;
    float: left;
}
#busking_store_update .hashtag_individual_set{
    float: left;
}

#busking_store_update .hashtag_individual{
    text-align: center;
    float: left;
    border: 1px solid #F4F4F4;
    min-width: 40px;
    height: 25px;
    line-height: 25px;
    border-radius: 26px;
    margin: 5px 0px 5px 15px;
    padding: 2px 10px;
    font-size: 14px;
    background: #F4F4F4;
    color: #8354C8;
}

#busking_store_update .hashtag_close{
    float: left;
    height: 8px;
    width: 8px;
    margin: 12px 3px;
    background: #D3D3D5;
    border-radius: 50px;
    padding: 5px;
}

#busking_store_update .icon_exit_b{
    color: white;
    margin-top: 1px;
    z-index: 1;
}

#busking_store_update .delete_hashtag{
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin: 5px 0px 5px 0px;
}

/* input text */

#busking_store_update #hashtag{
    width: 100%;
    float: right;
}

#busking_store_update .st_ui_img_a{
    width: 84px;
    float: left;
}
#busking_store_update .st_ui_img_b{
    width: 100%;
    float: left;
}
#busking_store_update select.operationhour{
    width: 100%;
    height: 40px;
    float: left;
    margin-inline-end: 6px;
    font: normal normal normal 14px SpoqaHanSans;
    color: #999999;
    text-align-last: center;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background-color: white;
    background: url(/img/panel_v2/down.svg) no-repeat 98% 50% #fff;
    background-size: 25%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}
#busking_store_update .operationhour_text{
    padding-top: 8px;
    width: 8%;
    float: left;
    margin-inline-end: 5px;
    font: normal normal normal 14px SpoqaHanSans;
    color: #666666;
    opacity: 1;
    
}
#busking_store_update select.operationhour_end{
    width: 100%;
    height: 40px;
    float: left;
    font: normal normal normal 14px SpoqaHanSans;
    color: #999999;
    text-align-last: center;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background-color: white;
    background: url(/img/panel_v2/down.svg) no-repeat 98% 50% #fff;
    background-size: 25%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* input radio setting */
#busking_store_update input[type="radio"] {
    display: none;
    float: left;
}
#busking_store_update .hashtag_text{
    position: absolute;
    top: 7px;
    left: 18px;
    font: normal normal normal 14px SpoqaHanSans;
    /* letter-spacing: -1.4px; */
    color: #333333;
    opacity: 1;
}

#busking_store_update input[type="radio"] + label span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(/img/reg_store/chk_no.png) no-repeat;
    background-size: cover;
}

#busking_store_update input[type="radio"]:checked + label span{
    background: url(/img/reg_store/chk.png) no-repeat;
    background-size: cover;
}
/* input checkbox setting */
#busking_store_update input[type="checkbox"] {
    display: none;
    float: left;
}

#busking_store_update input[type="checkbox"] + label span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(/img/reg_store/chk_no.png) no-repeat;
    background-size: cover;
}

#busking_store_update input[type="checkbox"]:checked + label span{
    background: url(/img/reg_store/chk.png) no-repeat;
    background-size: cover;
}

#busking_store_update .common_terms_container_alpha{
    width: 150px;
    height: 50px;
    float: left;
    text-align: left;
    margin-left: -10px;
}

#busking_store_update .common_terms_container{
    margin-left: -25px;
}

#busking_store_update .wide_space_container{
    width: 100%;
    float: left;
}

#busking_store_update .wide_space_container_alpha{
    width: 100%;
    float: left;
    margin-bottom: 50px;
}

#busking_store_update div.common_terms_check.common_flex_container{
    padding-top: 5px;
}

#busking_store_update .common_terms_view_more{
    line-height: 25px;
}

#busking_store_update .text_label_value{
    float: right;
    padding: 5px;
}
#busking_store_update #equipment{
    min-height: 40px;
    font-size: 14px;
    color: #333 !important;
    border: 1px solid #dddddd;
    padding: 8px 10px;
    border-radius: 4px;
}
#busking_store_update  img{
    border-radius: 4px;
}
#busking_store_update  #text_genre{
    font-size: 14px;
    color: #333 !important;
    border: 1px solid #dddddd;
    padding: 8px 10px;
    border-radius: 4px;
    width: 100%;
}
#busking_store_update .busking_store_button_A{
    width: 23px;
    height: 23px;
    float: right;
    /* line-height: 50px; */
    margin-top: 25px;
    margin-right: 14px;
    background: url(/img/reg_store_update/reg_update_plus.svg) no-repeat;
    background-size: cover;
    opacity: 1;
}
#busking_store_update .busking_store_button_B{
    width: 23px;
    height: 23px;
    float: right;
    /* line-height: 50px; */
    margin-top: 21px;
    margin-right: 14px;
    background: url(/img/reg_store_update/reg_update_plus.svg) no-repeat;
    background-size: cover;
    opacity: 1;
}
#busking_store_update .busking_store_button_C{
    width: 23px;
    height: 23px;
    float: right;
    /* line-height: 50px; */
    margin-top: 21px;
    margin-right: 14px;
    background: url(/img/reg_store_update/reg_update_minus.svg) no-repeat;
    background-size: cover;
    opacity: 1;
}
#busking_store_update .subtitle {
    text-align: left;
    font: normal normal bold 12px/18px SpoqaHanSans;
    color: #666666;
    opacity: 1;
}

#busking_store_update .text_input {
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCE0EA;
    border-radius: 2px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 14px/22px SpoqaHanSans;
    border-radius: 4px;
}
#busking_store_update .re_time_input_container {
    margin-top: 6px;
    width: 100%;
    height: 40px;
    display: flex;
}
#busking_store_update .re_table_parents {
    width: 74px;
    border: 1px solid #DCE0EA;
    border-radius: 4px;
}
#busking_store_update #re_table_parents_s{
    margin-left: 15px;
}
#busking_store_update #re_table_parents_m{
    border: none;
}
#busking_store_update .time_input_table {
  
    height: 40px !important;
    /* width: 20%; */
    float: left;
    width: 100%;
}
#busking_store_update .time_input_table td {
    padding: 0px 5px 0px 0px;
    border: 0px;
}
#busking_store_update .ui-input-text {
    text-align: left;
    margin: 0px;
    border: none;
}
#busking_store_update .time_input_text {
    text-align: left;
    width: 30px;
    height: 40px;
    float: left;
    line-height: 40px;
    border: 0px;
    padding-left: 10px !important;
    padding: 0px;
    font: normal normal normal 14px/22px SpoqaHanSans;
}
#busking_store_update .time {
    text-align: left;
    font: normal normal normal 14px/22px SpoqaHanSans;
    color: #999999;
    opacity: 1;
}
#busking_store_update .perform_fee_table_container {
    margin-top: 6px;
}
#busking_store_update .perform_fee_table {
    width: 100%;
    height: 40px;
    border: 1px solid #DCE0EA;
    border-radius: 2px;
}
#busking_store_update .money_title {
    border: none;
    width: 100px;
    height: 100%;
    text-align: left;
    font: normal normal normal 14px/22px SpoqaHanSans;
    color: #333333;
    opacity: 1;
    padding-left: 10px;
}
#busking_store_update .money_input {
    text-align: right;
    padding: none;
    height: 40px;
}
#busking_store_update .money_won {
    text-align: left;
    font: normal normal bold 14px/22px SpoqaHanSans;
    color: #333333;
    opacity: 1;
}
#busking_store_update .re_content_wrap {
    margin-bottom: 41px;
}
#busking_store_update .store_money_input_text {
    text-align: left;
    padding: 0px;
    font: normal normal bold 14px/22px SpoqaHanSans;
    border: 0px;
    float: left;
    height: 40px;
    margin-left: 10px;
    width: 80%;
}

#busking_store_update #wide_space_bottom{
    margin-bottom: 40px;
}
#busking_store_update .perform_fee_table_br{

}
#busking_store_update .re_table_parents{
    text-align: center;
    width: 8%;
    margin-top: 7px;
    border: 0px;
}
#busking_store_update .operationhour{
    width: 100%;
    height: 40px;
    float: left;
    margin-inline-end: 5px;
    font: normal normal normal 14px SpoqaHanSans;
    color: #999999;
    text-align: right;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background: white;
    
}

#busking_store_update .operationhour_end{
    width: 100%;
    height: 40px;
    float: left;
    font: normal normal normal 14px SpoqaHanSans;
    color: #999999;
    text-align: right;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background: white;
}
#busking_store_update .start_input_text{
    float: left;
    font: normal normal normal 14px SpoqaHanSans;
    /* letter-spacing: -0.7px; */
    color: #333333;
    opacity: 1;
    line-height: 40px;

}
#busking_store_update .common_form_input_div_end{
    margin-bottom: 35px !important;
    padding: 0px 15px;
    margin: 8px 0px;
    display: flex;
}
#busking_store_update .common_form_input_div{
    padding: 0px 15px;
    margin: 8px 0px;
    display: flex;
}
#busking_store_update .common_form_input_div .ui-corner-all {
    padding: 0px;
    box-shadow: none;
    background: none;
    width: 100%;
}
#busking_store_update .busking_store_a{
    width: 100%;
    float: left;
}
#busking_store_update .busking_store_b{
    width: 100%;
    float: left;
}
#busking_store_update .busking_store_c{
    width: 100%;
    float: left;
}
#busking_store_update .money_input_text_div{
    width: 100%;
    height: 40px;
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    border: 1px solid #DCE0EA;
    border-radius: 4px;
}
#busking_store_update .money_input_text_won{

    float: left;
    height: 40px;
    line-height: 40px;
    font: normal normal bold 14px/22px SpoqaHanSans;
}
#busking_store_update .money_input_text_cancel{
    width: 16px;
    height: 16px;
    /* position: absolute; */
    background: url(/img/reg_store_update/close.svg) no-repeat;
    background-size: cover;
    border-radius: 50px;
    color: white;
    /* z-index: 2; */
    margin-right: 10px;
    margin-top: 12px;
    float: right;
}