@CHARSET "UTF-8";

.hqc_table { 
	width: 100%;
	font-size: 11px;
	border: 1px solid #7c7c7c;
}

.hqc_table tr, .hqc_table th{
	border-bottom: 1px solid #e9e9e9;
}

.hqc_table td{
	text-align: center;
}
