@CHARSET "UTF-8";

.qrc_table { 
	width: 100%;
	font-size: 11px;
	border: 1px solid #7c7c7c;
}

.qrc_table tr, .qrc_table th{
	border-bottom: 1px solid #e9e9e9;
}

.qrc_table td{
	text-align: center;
}