@CHARSET "UTF-8";
#tvc-table{
	margin: 0 auto;	
	margin-top: 20px;
	width: 1600px;
}

#tvc-table td{
	text-align: center;
	font-size: 14px;
	padding: 5px 0px;	
}

.tvc-num{
	width: 5%;
}

.tvc-tname{
	width: 15%;
}

.public-url{
	width: 25%;
}

.change-url{
	width: 20%;
}

.tvc-file{
	width: 20%;
}

.tvc-btn{
	width: 3%;
}

#vurl{
	width: 100%;
}

.team-video-public-url, .tvc-save, .team-video-url{
	cursor: pointer;
}

