@CHARSET "UTF-8";

@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css); 
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 
.jejugothic * {
	font-family: 'Jeju Gothic', sans-serif;
}

*{
	text-shadow: none !important;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
	/*font-family: 'Noto Sans KR','Sans-serif';*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline-style: none;
    word-break: keep-all;
    color: #222222;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.3px;
	
}

html, body{
	width: 100%;
	margin: 0;	
	overflow-x: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 /* background-color: #f9f9f9; */
}

p{
	padding: 0;
	margin: 0;
}

ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}

/*
nav .header_navigator{
	font-size: 15px;
	color: #eee;
	letter-spacing: 0;
	background-color: #f8f8f8;
	border-radius: 4px;
	padding: 7px 10px;
	box-shadow: inset 0px 0px 9px 0px #f0f2f5;
}

nav .header_navigator span{
    font-size: 14px;
    color: #333;
    opacity: 0.6;
    letter-spacing: -0.3px;
    text-decoration: underline;
    font-weight: 400;
    padding: 0px 3px;
}
*/

nav .header_navigator{
	font-size: 11px;
    color: #c8c8c8;
    letter-spacing: 0;
    background-color: #fff;
    font-weight: 500;
    padding-left: 0;
    padding-top: 5px;
}

nav .header_navigator span{
    font-size: 14px;
    color: #888;
    letter-spacing: -0.3px;
    font-weight: 500;
    padding: 0px 2px;
}

/* 팝업 */
.popup_mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}

.share_popup {
    position: fixed;
    width: 80vw;
    height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 10;
    padding: 10px;
    text-align: center;
    display: none;
}
/* /// */
.scrollOff{
	position:fixed;
	overflow:hidden;
	height:100%;
}

.big_title {
	font-size: 26px;
	padding-bottom: 10px;
	letter-spacing: 0px;
	font-weight: 700;
	line-height: 33px;
}

.small_title {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.text_gra_point{
	/* 텍스트에 그라데이션 넣을때 */
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white_background{
	background-color: #ffffff !important;
	background: #ffffff !important;
	/* box-shadow: 0px 2px 10px 0px #b3b4b7; */
	/* border-bottom: 1px solid #eee; */
}

.white_point{
	color: #ffffff;
}

.black_point{
	color: #222222 !important;
}

.gray_point{
	color: #888888;
}

.light_gray_point{
	color: #b0b0b0;
}

.blue_point{
	color: #0b81ef;
}

.purple_point{
	color: #8354c8;
}

.pb_gra_point{
    background: linear-gradient(to right, #c39bee, #6ac3fa);
}

.light_pb_gra_point{
	background: linear-gradient(to right, #f8efff, #f0fbff);
}

.iwmc_item_slide_container{
	overflow: hidden;
}

.iwmc_item_slide{
    position: relative;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.iwmc_item_slide li{
	float: left;
}

.container_line {
    border: 5px solid #eee;
    width: 100%;
}