@CHARSET "UTF-8";

#board_write_list #bw_header{
    padding: 15px 15px 5px 15px;
    border-bottom: 6px solid #eeeeee;
    width: 92%;
}

#bw_header #bw_header_title{
	text-align: left;
	font-size: 15px;
	color:#0c0c0c;
}

#bw_header #bw_header_sort{
	text-align: right;
	font-size: 12px;
	/* text-decoration: underline; */
	padding-top: 2px;
	color: #777;
}

#board_write_list .bw_content{
	border-bottom: 1px solid #eeeeee;
	padding: 15px 15px 10px 15px;
}

.bw_content .bw_content_title{
	width: 100% !important;
    text-align: left;
    font-size: 14px;
	color:#0c0c0c;
}

.bw_content .bw_content_div{
	width: 100% !important;
}

.bw_content .bw_content_subject{
	color: #777;
	font-size: 10px;
	padding-top: 15px;
}

.bw_content .bw_content_date{
	width: 35% !important;
    text-align: left;
}

.bw_content .bw_content_viewcount{
	text-align: left;
    width: 55% !important;
}

.bw_content .bw_content_img{
	width: 5% !important;
}

.bw_content .bw_content_img img{
	width: 15px;
    height: 15px;
}

.bw_content .bw_content_replycount{
	width: 5% !important;
}

.bw_content .bw_content_reply{
	width: 100% !important;
	text-align: left;
}