@CHARSET "UTF-8";
#app_contact .url_list {
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
}

#app_contact .url_content {
    width: 100% !important;
    text-align: left;
    position: relative;
}

#app_contact .url_title {
    font-size: 15px;
    display: inline-block;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
    max-width: 85%;
}

#app_contact .url_state_btn {
    display: inline-block;
    font-size: 12px;
    position: absolute;
    border-radius: 4px;
    padding: 2px;
    color: #ffffff;
    margin-left: 5px;
}

#app_contact .url_state_success{
    background-color: #8354c8;
}

#app_contact .url_state_wait{
	background-color: #aeaeae;
}

#app_contact .url_date {
    text-align: left;
    font-size: 11px;
    padding-top: 5px;
    color: #888;
}

#app_contact .url_write_btn{
	position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20%;
    right: 15px;
    z-index: 9999;
}

#url_nonmember_btn{
	display: none;
}