@CHARSET "UTF-8";

#video_upload .upload_title{
	padding: 20px 15px 10px 15px;
	text-align: left;
	font-size: 14px;
}

#video_upload .upload_title:FIRST-CHILD {
	padding-top: 30px;
}

#video_upload .upload_img{
	height: 180px;
	background: url(/img/common/video_upload.svg) no-repeat 50%;
	background-size: 35%;
	border-bottom: 9px solid #eee;
	border-top: 1px solid #eee;
}

#video_upload .upload_content{
	padding: 0px 15px;
}

#video_upload .ui-corner-all{
	margin: 0 auto;
	border: 1px solid #eee;
	border-radius: 0px;
	color: #000;
	font-size: 14px;
}

#video_upload #myProgress{
	width: 94%;
	margin: 0;
    margin-left: 14px;
}

#video_upload #myBar{
	width: 1%;
	height: 10px;
    margin-top: 2px;
    background-image: linear-gradient(to left, #8354c8 0%, #c750bf 100%);
}

#video_upload #myCancle{
	background: url(/img/common/upload_cancle.png) no-repeat 50%;
    height: 15px;
    background-size: 60%;
    width: 10% !important;
}

#video_upload #myPercent{
	text-align: right;
    color: #8354c8;
    margin-right: 35px;
}

#video_upload #video_upload_ing-popup{
	left : 0px !important;
	width: 100% !important;
}

#video_upload #video_upload_ing{
	width: 100%;
    float: left;
    margin-left: 15px;
    box-shadow: none;
    background-color: #fff;
    height: 120px;
}

#video_upload .video_upload_ing_title{
	padding: 20px 15px 15px 15px;
    text-align: left;
    font-size: 14px;
}

#video_upload #vu_popup_footer{
	padding: 10px 15px;
}

#video_upload #vu_status{
	color: #a9a9a9;
}

#video_upload #vu_btn{
	display: none;
	text-align: right;
}

/* 동영상 업로드 약관 관련 */

#video_upload .ui-user-check{
	padding: 15px 15px 0px 15px;
    font-size: 14px;
}

#video_upload .ui-user-check .ui-block-a{
	text-align: left;
    width: 5% !important;
}

#video_upload .ui-user-check .ui-block-b{
	width: 70% !important;
    text-align: left;
}

#video_upload .ui-user-check .ui-block-c{
	width: 25% !important;
	text-align: right;
	text-decoration: underline;
	font-size: 13px;
	color: #2196F3;
}


#video_upload #video_upload_terms{
	color: #000000;
    width: 100% !important;
    height: 640px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 15px;
    background: #fff;
}

#video_upload #video_upload_terms_close{
	position: fixed;
    right: 0;
    top: 10px;
    padding: 15px;
}