@CHARSET "UTF-8";
/* 헤더부분 슬라이더를 위한 CSS */
#share_busking_list .bzl_header_container{
	overflow: hidden;
	height: 45px;
}

#share_busking_list #bzl_header_ul{
	margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#share_busking_list .bzl_header_li{
    float: left;
    width: auto !important;
    border-bottom: 1px solid #d5d5d5 !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 18px;
    padding-right: 15px;
    height: 45px;
    line-height: 45px;
    vertical-align: top;
    text-align: center;
    font-size: 15px;
    color: #333;
    font-weight: normal;
}

#share_busking_list .bzl_header_li div{
	height: 99.9%;
}

#share_busking_list .area_on div {
    border-bottom: 1px solid #8354c8;
    font-weight: bold;
    color: #8354c8;
}
#share_busking_list .area_on{
   text-decoration:none !important;
}


#share_busking_list .bzl_search_img{
	width: 7% !important;
    text-align: left;
}

#share_busking_list .bzl_search_div .ui-block-b{
	width: 83% !important;
}

#share_busking_list .bzl_search_div .ui-input-text{
	margin: 0 !important;
	border: none !important;
}

 
/* ////////////////////// */
.sbl_btn_div{
	position: fixed;
    bottom: 15%;
    right: 10px;
    z-index: 1000;
}

.sbl_btn_div .sbl_refresh_btn img{
	opacity: 0.9 !important;
	width: 55px;
	height: 55px;
}
.sbl_btn_div .sbl_plus_btn img{
	opacity: 0.9 !important;
	width: 55px;
	height: 55px;	
}


#share_busking_list .sil_btn_div img {
    width: 55px;
    opacity: 0.7;
}


.sbl_content{
	padding: 15px;
	border-bottom: 1px solid #f9f9f9;
}

.sbl_content_info{
	padding-left: 10px !important;
	width: 60% !important;
	text-align: left;
}

.sbl_ci_title{
	font-size: 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	width: auto;
	overflow: hidden;
	max-width: 95%;
}

.sbl_ci_location{
	font-size: 12px;
	color: #888;
	padding-top: 7px;
	PADDING-BOTTOM: 19px;
}
.sbl_ci_description{
	font-size: 12px;
    color: #888;
    padding-top: 10px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
	display: none;
}
.sbl_ci_id{
	font-size: 12px;
	color: #777;
	padding-top: 3px;
}

.sbl_ci_id{
	font-size: 10px !important;
	color: #9a9a9a;
	padding-bottom: 0;
	padding-right: 2px;
}

.sbl_ci_id a{
	color: #9a9a9a !important;
	font-size: 10px;
}

.sbl_content_img{
	width: 30% !important;
	height: 77px;
}

.sbl_content_img img{
	width: 100px;
	height: 77px;
}

.sbl_content_further{
    text-align: right;
	width: 10% !important;
}

.sbl_cf_btn{
    margin-top: 33px;
    width: 13px;
    opacity: 0.7;
}