@CHARSET "UTF-8";
.hidden {height:100%; min-height:100%; overflow:hidden !important; touch-action:none;}
#busking_time_select_popup{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: scroll;
    display: none;
    border: none !important;
}
#busking_time_select .bts_body {
	width: 100%;
    height: 100%;
}

#busking_time_select .bts_body_content {
    /* height: 330px; */
    max-width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 20px #0000001A;
    opacity: 1;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 15px;
    margin-bottom: 54;
}

#busking_time_select .bts_body_title_container {
    width: 295px;
    /* height: 33px; */
    height: auto;
    text-align: left;
    float: left;
}
#busking_time_select .bts_body_title {
    font: normal normal bold 21px/33px SpoqaHanSans;
    letter-spacing: -0.5px;
    color: #333333;
    opacity: 1;
}

#busking_time_select .bts_body_cancel_container {
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 7px;
    float: right;
}
#busking_time_select .bts_body_cancel_img {
    width: 14px;
    height: 14px;
    background: transparent url('/img/custom_select_box/close_popup.svg') 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 1;
}
#busking_time_select .bts_perform_container {
    margin-top: 70px;
}
#busking_time_select .bts_perform_cell {
    height: 57px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #EFF0F5;
    justify-content: space-between; /* 양쪽끝정렬 */
}
#busking_time_select .bts_perform_p_title {
    float: left;
    text-align: left;
}
#busking_time_select .bts_perform_p {
    font: normal normal normal 14px/21px SpoqaHanSans;
    letter-spacing: -0.5px;
    color: #333333;
}
#busking_time_select .bts_perform_time {
    display:inline-block;
    text-align: right;
}
#busking_time_select .bts_perform_time_p {
    font: normal normal bold 17px/21px SpoqaHanSans;
    letter-spacing: -0.5px;
    color: #8354C8;
    opacity: 1;
}

#busking_time_select .bts_bottom_container {
    width: 100%;
    height: auto;
    
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}
#busking_time_select .bts_bottom_left {
    float: left;
    text-align: left;
    display: flex;
    align-items: center;
}
#busking_time_select .selected_team_chk {
    width: 23px !important;
    height: 23px !important;
    border-radius: 15px;
    margin: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 7px !important;
    padding: 0px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 2px solid #CFCFD8;
    opacity: 1;
    text-align: center;
}
#busking_time_select .selected_team {
    display: inline-block;
    text-align: left;
    font: normal normal normal 14px/21px SpoqaHanSans;
    letter-spacing: -0.5px;
    color: #7B7B8D;
    opacity: 1;
}

#busking_time_select .bts_bottom_right {
    display:inline-block;

    width: 113px;
    height: 39px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F7F7F7;
    border-radius: 19px;
    opacity: 1;

    display: flex;
    align-items: center;
    text-align: center !important;
}
#busking_time_select .bts_add_time_p {
    margin-left: 27px;
    font: normal normal normal 14px/21px SpoqaHanSans;
    letter-spacing: -0.5px;
    color: #333333;
}



.bts_footer{
	position: fixed;
	bottom: 0;
    left: 0;
    background: #8354C8 0% 0% no-repeat padding-box;
	margin-bottom: 0px !important;
	padding-bottom: calc(17px + env(safe-area-inset-bottom));
    padding-bottom: calc(19px + constant(safe-area-inset-bottom));
}