@CHARSET "UTF-8";
/* .hidden {height:100%; min-height:100%; overflow:hidden !important; touch-action:none;} */
.hidden {height:100%; min-height:100%; overflow:hidden !important;}
#custom_sl_myperform_popup{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /* background-color: rgba(0, 0, 0, 0.5); */
    overflow: scroll;
    display: none;
    border: none !important;
}
#store_list_myperform {
    letter-spacing: -0.5px;
}
#store_list_myperform .slm_body {
	width: 100%;
    height: 100%;
}

#store_list_myperform .slm_body_content {
    top: 134px;
    right: 15px;
    width: 143px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000014;
    opacity: 1;
    padding: 11px 11px 11px 11px;
    margin-bottom: 54;
    overflow: scroll;
    border: 1px solid #E0E0E0;
    border-radius: 5px;

    position: fixed;

    margin: auto;
}

/* input check setting */
#store_list_myperform input[type="radio"] {
    display: none;
    float: left;
}
#store_list_myperform input[type="radio"] + label {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: transparent url(/img/busking_time/check_perfo.svg) no-repeat;
    background-size: contain;
}
#store_list_myperform input[type="radio"]:checked + label {
    background: transparent url(/img/reg_store/chk.png) no-repeat;
    background-size: contain;
}
#store_list_myperform .slm_btn_container {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}
#store_list_myperform .slm_btn_container label {
    text-align: left;
    font-size: 13px !important;
    color: #333;
    padding-left: 0 !important;
    margin: 0 !important;
}
#store_list_myperform .my_perform_chk_span {
    font: normal normal normal 12px/18px SpoqaHanSans;
    color: #7B7D88;
    margin-left: 5px;
}