@CHARSET "UTF-8";
#genre_select_popup{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #ffffff;
    overflow: scroll;
    display: none;
    border: none !important;
}

/* 장르선택 팝업 헤더 */
.gs_header{
	min-height: 88px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	padding-top: env(safe-area-inset-top);
    padding-top: constant(safe-area-inset-top);
}

.gs_header_left{
	width: 25% !important;
	text-align: left;
}

.gs_header_center{
	width: 50% !important;
	text-align: center;
}

.gs_main_genre_container{
	border-bottom: 1px solid #d9d9d9;
    width: 100%;
    line-height: 2.5;
    margin-top: 45px;
}

.gs_mg_title{
	flex-grow: 1;
	text-align: center;
}

.gs_mg_title p {
    display: inline-block;
    color: #898989;
}

.gs_mg_on p{
    color: #8d53c6 !important;
    border-bottom: 1px solid #8a54c8;
}


/* 장르선택 팝업 리스트 */
.gs_body{
	padding-top: 85px;
	padding-bottom: 60px;
	background-color: #f6f6f6;
	padding-top: calc(85px + env(safe-area-inset-top));
    padding-top: calc(85px + constant(safe-area-inset-top));
}

.gsb_group{
	display: none;
}

.gsb_first_container {
    padding: 30px 15px 15px 15px;
    background-color: #ffffff;
}

.gsb_first_main_title {
    text-align: left;
    font-size: 18px;
}


.gsb_second_container{
	padding: 15px;
	display: none;
}

.gsb_second_main_title {
    text-align: left;
    font-size: 16px;
    color: #9053c6;
    font-weight: 700;
}

.gsb_sub_title {
    text-align: left;
    font-size: 11px;
    color: #898989;
    padding-top: 5px;
}

.gsb_list {
    padding: 5px 0px;
    align-items: flex-start;
    flex-flow: wrap;
}

.gsb_item {
	display: inline-block;
    min-width: 35px;
    padding: 7px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 13px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    text-align: center;
}

.gsb_item_all{
	display: inline-block;
    min-width: 35px;
    padding: 7px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 13px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    text-align: center;
}

.gsb_item_on {
    background-image: linear-gradient(to left, #8354c8 0%, #c750bf 100%);
    color: #ffffff !important;
    border: 1px solid;
}


/* 장르선택 팝업 푸터 */
.gs_footer{
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: 0px !important;
	padding-bottom: calc(17px + env(safe-area-inset-bottom));
    padding-bottom: calc(19px + constant(safe-area-inset-bottom));
}