@CHARSET "UTF-8";
/* 후원 완료 페이지 (결제 성공시) */
#support_complete_page .spt_comp_header {
    padding: 30px 15px 25px 15px;
    text-align: left;
    line-height: 1.5;
    border-bottom: 1px solid #d9d9d9;
}

#support_complete_page .spt_comp_name {
    color: #8d5cb1;
}

#support_complete_page .spt_comp_body {
    background-color: #f6f6f6;
    padding: 25px 15px 25px 15px;
}

#support_complete_page .spt_comp_content {
    font-size: 14px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 5px;
    line-height: 2;
}

#support_complete_page .spt_comp_content_title {
    text-align: left;
}

#support_complete_page .spt_comp_content_subject {
    text-align: right;
}

#support_complete_page .spt_comp_price {
    padding: 25px 0px 15px 0px;
}

#support_complete_page .spt_comp_price_title {
    font-size: 14px;
    text-align: left;
}

#support_complete_page .spt_comp_price_content {
    text-align: right;
    font-size: 20px;
}

#support_complete_page .spt_comp_price_content span{
	color: #8d5cb1;
}

#support_complete_page .spt_comp_footer {
    margin-top: 60px;
}

#support_complete_page .spt_comp_footer_title {
    padding: 10px 15px;
    text-align: left;
    background-color: #f6f6f6;
    font-size: 14px;
    border-top: 1px solid #d9d9d9;
}

#support_complete_page .ui-corner-all{
	margin: 50px 15px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    font-size: 15px;
}

#support_complete_page .spt_comp_btn_div {
    line-height: 3.5;
    font-size: 15px;
    text-align: center;
}

#support_complete_page .spt_comp_skipbtn {
    width: 40% !important;
    background-color: #000000;
    color: #ffffff;
}

#support_complete_page .spt_comp_sendtbn {
    width: 60% !important;
    background-color: #8d5cb1;
    color: #ffffff;
}

#support_complete_page #spt_comp_home{
	line-height: 3.5;
    font-size: 15px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    width: 100% !important;
}


/* 후원 완료 페이지 (결제 실패시) */
#support_complete_page .spt_fail_body {
    background-color: #f6f6f6;
    padding: 25px 15px 25px 15px;
    text-align: left;
    font-size: 14px;
}

#support_complete_page .spt_fail_body span{
}