@CHARSET "UTF-8";
/* 인기 아티스트 data-role=content */
#artist_ranking_content{
	padding: 0;
    padding-top: env(safe-area-inset-top);
    padding-top: constant(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
	margin-bottom: constant(safe-area-inset-bottom);
    text-align: center;
    height: 100% !important;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

/* 인기 아티스트 검색부분 */
#a_ranking_middle #a_ranking_search{
	padding: 8px 15px 8px 15px;
	border-bottom: 1px solid #eee;
	box-shadow: 0px 4px 10px -8px #d5d3d8;
}

#a_ranking_search .ui-block-a{
	width: 7% !important;
    text-align: left;
}

#a_ranking_search #a_ranking_search_img img{
	width: 15px;
	margin-top:8px;
}

#a_ranking_search .ui-block-b{
	width: 83% !important;
}

#a_ranking_search .ui-block-b #ar_search_date{
	width: 100%;
    border: none;
    font-size: 14px;
    padding-left: 3px;
    color: #000;
    padding-top: 2px;
    padding: 8px;
    border-radius: 1em;
    background-color: #eeeef1;
	text-indent:5px
}

#a_ranking_search .ui-block-c{
	width: 10% !important;
    text-align: right;
    display: none;
    padding-left: 7px;
    padding-top: 4px;
}

#a_ranking_search .ui-block-c img{
	width: 54%;
    padding-top: 1px;
	margin-top:6px;
	
}

/* 인기 아티스트 지역탭 */
#artist_ranking .nav_h_type li{
	width: auto !important;
    border-bottom: none !important;
    background-color: #fff !important;
}

#artist_ranking #ar_sc_area{
	border-bottom: 1px solid #eeeeee;
}

/* 인기아티스트 메인 + 아티스트 리스트 페이지 통합 */
.artist_list_container {
    display: flex;
    margin: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(242, 243, 246);
}

.alc_ranknum {
    width: 9%;
    line-height: 4.3;
    font-size: 15px;
    color: #333;
    font-style: italic;
    text-align: left;
}

.alc_thumbnail {
    width: 20%;
}

.alc_thumbnail img {
    width: 50px;
    height: 50px;
    border-radius: 0.2em;
    margin-top: 10px;
}

.alc_info_text {
    width: 70%;
    text-align: left;
    padding: 5px;
}

.ait_teamname {
    font-size: 15px;
    margin-bottom: 8px;
}

.ait_text{
	overflow: hidden;
    display: -webkit-inline-box;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 11px;
    color: #9e9e9e;
    line-height: 1;
}

.ait_belong {
    max-width: 55%;
}

.ait_middle {
    display: inline-block;
    font-size: 13px;
    color: #9e9e9e;
}

.ait_perform {
    max-width: 100px;
}

.ait_genre {
    display: -webkit-box !important;
    max-width: 90%;
    margin-top: 5px;
}

.alc_icon {
    width: 5%;
}

.alc_icon img {
    width: 13px;
    margin-top: 1.7em;
}

.alc_icon_b img{
    width: 20px;
    margin-top: 1.7em;
}

.ars_container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    /* border-bottom: 1px solid #efefef; */
    padding-top: 2px;
    /* padding-bottom: 2px; */
}

.ars_menu {
    font-size: 13px;
    margin: 4px 6px;
    line-height: 21px;
    background: #fff;
    padding: 4px 10px;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    color: #676767;
    width: 53px;
    height: 21px;
    text-align: center;
    cursor: pointer;
}

.ars_on{
	background-color: #EEE7F8;
	padding: 4px 10px;
	border-radius: 20px;
	border: 1px solid #EEE7F8;
	color: #8354c8;
	line-height: 21px;
	width: 53px;
	height: 21px;
	text-align: center;
	font-weight: 600;
}

/* 공연 알람 설정 팝업 */


/* position fixed */
#artist_ranking .a_ranking_header{
    width: 100%;
}

#artist_ranking .artist_slider{
    width: 100%;
}

#a_ranking_middle{
    background-color: #fff;
    width: 100%;
	
}
