@CHARSET "UTF-8";
.middle_cell_wapper table{
	table-layout: fixed;
}
/* 소속아티스트 정보 페이지 */
.mi_name{
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	width:100px;
	overflow:hidden;
}

.mi_intro{
	width: 700px;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
}

.mi_genre{
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	width:220px;
	overflow:hidden;
}

/* 아티스트 승인관리 */
.ai_team {
    width: 360px;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
}

.ai_genre {
    width: 280px;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
}

.ai_state {
    width: 100px;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
}

/* 아티스트 승인관리 상세 */
.ad_btn_box {
    width: 330px;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 100px;
}

.ad_btn_box p { 
    margin: 0;
}

/* 일정관리 페이지 */
.mt_left{
	width: 50%;
	text-align: left;
}

.mt_left p{
	display: inline-block;
}

.mgleft{
	margin-left: 16.5px;
}

.si_place {
    width: 140px !important;
}

.si_team {
    width: 350px;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
}

.si_time {
    width: 180px;
}

.si_cancel {
    width: 150px;
}

.si_cancel select {
    width: 80px;
    text-indent: 13px;
    border: 1px solid #d9d9d9;
    height: 28px;
    background-image: url(/img/homepage/common/con_next.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 10px;
}


/* 설문결과 페이지 */
.ei_date {
    width: 140px;
}

.ei_time {
    width: 140px;
}

.ei_score {
    width: 80px;
}

.ei_content {
    width: 560px;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
}

