@CHARSET "UTF-8";
.qr_payment_price_container{
	width: 100%;
}

.qr_payment_price{
	display: inline-block;
    color: #8354c8;
    padding: 4px 6px;
    font-size: 13px;
    letter-spacing: -0.5px;
    border-radius: 0;
    border: 1px solid #8354c8;
}

.qrp_on{
	color: #ffffff !important;
	background-color: #8354c8 !important;
}

#btnSubmit{
	margin-top: 50px;
}