@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{
	font-family: 'Noto Sans KR', sans-serif;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select:none;
}

html{
	touch-action: manipulation;
}

body{
	margin: 0 auto;
	letter-spacing: -1px;
}

input[type=radio] {
    display: none;
}

.flex_container{
	display: flex;
}

.index_wapper{
	/* display: flex;
	flex-direction: column; */
}

.common_header {
    border-top: 4px solid #004a8f;
    padding: 15px 0px 15px 0px;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    position: fixed;
    height: 45px;
}

.header_logo{
	margin: 0 auto;
	width: 100px;
}

.common_body{
	padding-top: 84px;
}

.media_iframe{
	width: 100%;
	height: 300px;
}

.cb_middel_container{
	background: url(../img/btn_bg.svg) no-repeat center top;
    width: 100%;
    height: 54px;
    text-align: left;
    color: #ffffff;
}

.dbmc_box{
	width: 50%;
    float: left;
    position: relative;
}

.cb_middel_container p{
	display: inline-block;
	padding-left: 17px;
	font-size: 15px;
	font-weight: bold;
	padding-top: 2px;
}

.cb_middel_container img{
	position: absolute;
	width: 15px;
	top: 21px;
	right: 10%;
}

.cb_content_container{
	padding: 15px;
	background-color: #f4f4f4;
}

.cbcc_title{
	font-size: 17px;
	color: #1284c1;
	font-weight: 500;
}

.cbcc_content_box {
    background-color: #ffffff;
    padding: 14px 0px;
    font-size: 14px;
    margin-bottom: 30px;
    color: #222;
    font-weight: 500;
    box-shadow: 0px 4px 8px 0px #f0f0f1;
    border-radius: 4px;
}
.cbcc_content_box ul{
	
margin-left: -8px;
}
.cbcc_content_box li {
    margin-top: 10px;
}

.cbcc_content_box li:first-child {
    margin-top: 0;
}

.cbcc_content{
	margin: 10px 0px;
    font-size: 15px;
}

.cb_artist_info_btn{
	background-color: #004a8f;
	margin: 15px;
	padding: 15px;
	color: #ffffff;
	text-align: center;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 700;
	box-shadow: 0px 4px 7px 0px #a0c5e8c4;
}
