@CHARSET "UTF-8";
/* 설문조사 페이지 */
.cb_main_image{
	width: 100%;
	height: 300px;
}

.cb_main_image img{
	width: 100%;
	height: 100%;
}

.box_shadow_container{
	box-shadow: 1px 1px 6px #d9d9d9;
	border-radius: 5px;
	margin-top: 10px;
}

.cbcc_header{
	background: url(../img/survey_bg.jpg) right top no-repeat #004c84;
    padding: 10px;
    color: #ffffff;
    font-size: 17px;
    border-radius: 5px 5px 0px 0px;
}

.cbcc_serv_content{
	padding: 10px;
    background-color: #ffffff;
}

.cbcc_serv_content:last-child{
	border-radius: 0px 0px 5px 5px;
}

.cbcc_serv_content p{
	margin: 0;
	font-size: 15px;
	padding-top: 10px;
	color: #222;
}

.cbcc_serv_radio_container{
	margin: 15px 0px;
}

.cbcc_serv_radio_container label {
    color: #222;
    margin: 0px 50px 0px 30px;
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 15px;
}

input[type="radio"] + label span {
  	display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #dddddd;
    border-radius: 50px;
    background-color: #ffffff;
    margin: -2px 10px 0 0;
    position: absolute;
    left: -25px;
    top: 4px;
}

input[type="radio"]:checked + label span {
    background-color: #1284c1;
    border-color: #7fc3e8;
}

.cbcc_footer_div{
	text-align: right;
    padding: 15px 0px 30px 0px;
}

.cbcc_next_btn{
	margin: 0;
    padding: 7px 17px;
    background-color: #1284c1;
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    border-radius: 3px;
}