@CHARSET "UTF-8";

#detail_store  *{
    letter-spacing:-0.5px;
}
/* 버스킹존 상세페이지 이미지 슬라이드부분 CSS */
#detail_store #bdc_pfsc_ing_body{
	overflow: hidden;
    height: 295px;
}

#detail_store #bdc_pfsc_ing_body ul{
	margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#detail_store #bdc_pfsc_ing_body li{
	float: left;
}

/* 버스킹존 상세페이지 이미지 슬라이드 버튼부분 CSS */
#detail_store #detail_store_content{
	position: relative;
    position: relative;
    padding: 0;
    margin-bottom: calc(45px + env(safe-area-inset-bottom));
    margin-bottom: calc(45px + constant(safe-area-inset-bottom));
    text-align: center;
    /* height: 100% !important; */
    overflow: scroll;
    overflow-x: hidden;
}

#detail_store #bdc_img_selecter {
    position: absolute;
    top: 270px;
    left: 50%;
    width: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    transform: translate(-50%, -50%);
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 23px;
    width: 34px;
    height: 19px;
    opacity: 0.52;
}

#detail_store #bdc_img_selecter li {
	display: inline-block;
    float: left;
    font-size: 9px;
    margin-left: 5px;
    color: #d4d4d482;
    border-radius: 5em;
    display:none;
}

#detail_store #bdc_img_selecter li:first-child {
    margin-left: 0px;
}

#detail_store .bdc_img_active{
    color: #FFFFFF !important;
    display:block !important;
    margin-left: 8px !important;
    line-height: 18px !important;
}

#detail_store .store_dt1_img_list{
    width: 100%;
    /* border: 1px solid black; */
}
#detail_store .store_dtl_title{
    width: 100%;
    height: 80px;
    /* border: 1px solid black; */

}
#detail_store .store_dtl_title_j{
    float: left;
    width: 70%;
    height: 50px;
    margin-top: 7%;
    margin-left: 4%;
    text-align: left;
    /* border: 1px solid black; */
}
#detail_store .store_dtl_title_j_s{
    text-align: left;
    text-shadow: none !important;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important;
    font-size: 12px;
    color: #888
}
#detail_store .store_dtl_title_j_b{
    
    font: normal normal bold 23px SpoqaHanSans;
    color: #333333;
    text-align: left;
}
#detail_store .store_dtl_title_img{
    width: 55px;
    height: 55px;
    margin-top: 3%;
    margin-right: 4%;
    float: right;

}

#detail_store .store_dtl_sub_title{
    width: 100%;
    left: 30px;
    text-align: left;
    font: normal normal bold 15px SpoqaHanSans;
    color: #333333;
    opacity: 1;
    /* border: 1px solid black; */
}
#detail_store .store_dtl_introduce{
    width: 100%;
    margin-top: 2%;
    /* border: 1px solid black; */
   
    margin-bottom: 10%;
}
#detail_store .store_dtl_introduce_m{
    width: 100%;
    margin-top: 2%;
    /* border: 1px solid black; */
    /* height: 280px; */
}

#detail_store .store_dtl_introduce_t{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 25px;
    margin-left: 4%;
    text-align: left;
    opacity: 1;
    height: 25px;
    float: left;
    /* border: 1px solid black; */
    width: 100%;
}
#detail_store .store_dtl_introduce_t_a{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 35px;
    margin-left: 4%;
    text-align: left;
    opacity: 1;
    height: 25px;
    float: left;
    width: 100%;
    /* border: 1px solid black; */
}
#detail_store .store_dtl_introduce_t_b{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 32.5px;
    margin-left: 4%;
    text-align: left;
    opacity: 1;
    height: 25px;
    float: left;
    /* border: 1px solid black; */
}
#detail_store .store_dtl_introduce_t_cal{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 25px;
    margin-left: 4%;
    text-align: left;
    opacity: 1;
    height: 25px;
    
}
#detail_store .store_dtl_introduce_c{
    font: normal normal normal 14px SpoqaHanSans;
    padding-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: left;
    float: left;
    width: 92%;
    /* border: 1px solid black; */
}
#detail_store .store_dtl_introduce_ht_list{
    /* border: 1px solid black; */
    float: left;
    margin-top: 29px;
    margin-left: 4%;
    margin-right: 4%;
}
#detail_store .store_dtl_introduce_ht{
    font: normal normal normal 13px SpoqaHanSans;
    /* color: #666666; */
    color: #333333;
    margin-inline-end: 10px;
    padding: 2px 10px;
    text-align: center;
    float: left;
    border: 1px solid #E4E6E8;
    border-radius: 26px;
    background: #ECECF0 0% 0% no-repeat padding-box;
    margin-top: 10px;
}
#detail_store .store_dtl_introduce_addr{
    width: 100%;
    float: left;
    margin-left: 4%;
    /* border: 1px solid black; */
}
#detail_store .store_dtl_introduce_time{
    height: 50px;
    margin-left: 4%;
    margin-top: 3%;
    text-align: left;
    font: normal normal normal 14px SpoqaHanSans;
    color: #333333;
    float: left;
    width: 100%;
    /* border: 1px solid black; */
}
#detail_store .store_dtl_introduce_addr_l{
    width: 70%;
    margin-top: 3%;
    text-align:left;
    font: normal normal normal 14px SpoqaHanSans;
    color: #333333;
    float: left;
}
#detail_store .store_dtl_introduce_addr_r{
    width: 20%;
    margin-top: 3%;
    text-align:center;
    float: right;
    padding-right: 3%;
    text-decoration: underline;
    font: normal normal normal 14px SpoqaHanSans;
    color: #8354C8;

}
#detail_store .store_dtl_kupon{
    height: 320px;
    background: #F9F9FB 0% 0% no-repeat padding-box;
    /* border: 1px solid black; */

}
#detail_store .store_dtl_introduce_k{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 4%;
    margin-left: 4%;
    padding-top: 5%;
    text-align: left;
    /* border: 1px solid black; */
}
#detail_store .store_dtl_kupon_c{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 6%;
    height: 120px;
    border: 2px solid #D9DBEB;

}
#detail_store .store_dtl_kupon_c_d{
    
    text-align: left;
    width: 69%;
    height: 120px;
    float: left;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
#detail_store .store_dtl_kupon_c_d_m{
    
    font: normal normal bold 23px SpoqaHanSans;
    color: #333333;
    margin-left: 8%;

}
#detail_store .store_dtl_kupon_c_d_n{
    font: normal normal normal 14px SpoqaHanSans;
    color: #666666;
    margin-left: 8%;
}
#detail_store .store_dtl_kupon_c_d_d{
    font: normal normal normal 12px SpoqaHanSans;
    color: #999999;
    margin-left: 8%;
}
#detail_store .store_dtl_kupon_c_t{
    font: normal normal normal 14px SpoqaHanSans;
    color: #8354C8;
    text-align: center;
    line-height:120px;
    width: 30%;
    height: 120px;
    float: right;
    border-left: 2px solid #D9DBEB;
    background: #F0EFF7 0% 0% no-repeat padding-box;
}
#detail_store .store_dtl_kupon_f{

    text-align: center;
    font: normal normal bold 15px SpoqaHanSans;
    color: #7A7895;
    line-height:50px;
    height: 50px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    
    border: 2px solid #E2E1EF;
    border-radius: 10px;
    opacity: 1;
}
#detail_store .store_dtl_butten{
    
    width: 100%;
    font-size: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    font: normal normal bold 16px SpoqaHanSans;
    color:#333333;
    line-height:60px;
    height: 60px;
    float: left;
    
}
#detail_store .store_dtl_butten_a{
    
    width: 50%;
    font-size: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    bottom: 0;
    
    background: #F0F1F4 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal bold 16px SpoqaHanSans;
    color:#333333;
    line-height:60px;
    height: 60px;
    float: left;
    opacity: 1;
}
#detail_store .store_dtl_butten_b{
    
    width: 50%;
    font-size: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    bottom: 0;
    
    background: #8354C8 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal bold 16px SpoqaHanSans;
    color: #FFFFFF;
    line-height:60px;
    height: 60px;
    float: right;
    opacity: 1;
}
#detail_store #store_title_img{
    border-radius: 50%;
    padding: 2px;
    border: 2px solid#8354C8;
}
#detail_store #store_menu_imgs{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #87818c;
    float: left;
    width: 100%;
}
#detail_store #stroe_menu_img{
    border-radius: 18px;
    margin-bottom: 10%;
    margin-top: 10px;
}
/* 버스킹존 상세페이지 지도부분 CSS */
#detail_store .bdc_map_div {
    width: 100%;
    height: 350px;
}
#detail_store .bdc_map_div img{
	width: 100%;
	height: 100%;
}
#detail_store #map{
    z-index: 0;
    width: 92%;
    margin-left: 15px;
    border-radius: 10px;
}

#detail_store .store_dtl_introduce_c_aa{
        
    float: left;
    width:100%;
    text-align: left;
    font: normal normal normal 14px SpoqaHanSans;
    color: #7B7D88;
    opacity: 1;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
#detail_store .store_dtl_introduce_c_bb{
   
    float: left;
    width: 86%;
    margin-top: 5px;
    text-align: left;
    font: normal normal normal 14px SpoqaHanSans;
    color: #333333;
    opacity: 1;
    margin-left: 24px;
}
#detail_store .store_dtl_introduce_c_a{
    
    float: left;
    width: 15%;
    height: 20px;
    text-align: left;
    font: normal normal normal 14px SpoqaHanSans;
    color: #7B7D88;
    opacity: 1;
    margin-top: 9.5px;
}
#detail_store .store_dtl_introduce_c_b{

    float: left;
    width: 77%;
    height: 20px;
    margin-top: 9.5px;
    text-align: left;
    font: normal normal normal 14px SpoqaHanSans;
    color: #333333;
    opacity: 1;
    margin-left: 19px;
}
#detail_store .detail_getdirection_btn{
    width: 100%;
    height: 52px;
    background: #8354C8 0% 0% no-repeat padding-box;
    border-radius: 52px;
    text-align: center;
    font: normal normal bold 15px SpoqaHanSans;
    color: #FFFFFF;
    margin-top: 27px;
    opacity: 1;

}
#detail_store .store_menu_line{
    height: 10px;
    background: #F9F9FB 0% 0% no-repeat padding-box;
    opacity: 1;
}
#detail_store #bdc_img_selecter_cunt{
    text-align: center;
    font: normal normal normal 10px SpoqaHanSans;
    color: #FFFFFF;
}
#detail_store .haeder_menu_div_base span {
        margin: 0;
        margin-top: 5px;
        font-size: 15px;
        /* color: #333; */
        color: #AEB1BF;
        /* text-decoration: underline; */
        /* font-weight: bold; */
        display: block;
        line-height: 0.9;
        opacity: 1;
}
#detail_store .common_header_backbtn{
    padding-left: 20px;
    padding-top: 13px;
    width: 35px;
    height: 35px;
    /* float: left; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#detail_store .store_dtl_butten_artist{
    width: 100%;
    font-size: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    bottom: 0;
    background: #8354C8 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal bold 16px SpoqaHanSans;
    color: #FFFFFF;
    line-height: 60px;
    height: 60px;
    float: right;
    opacity: 1;
}
#detail_store .store_dtl_butten_artist_m_one{
    width: 50%;
    font-size: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    bottom: 0;
    background: #3E3F4B 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal bold 16px SpoqaHanSans;
    color: #FFFFFF;
    line-height: 60px;
    height: 60px;
    float: left;
    opacity: 1;
}
#detail_store .store_dtl_butten_artist_m_one_t{
    width: 50%;
    font-size: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    bottom: 0;
    background: #B9BABE 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal bold 16px SpoqaHanSans;
    color: #FFFFFF;
    line-height: 60px;
    height: 60px;
    float: left;
    opacity: 1;
}
#detail_store .store_dtl_butten_artist_m_too{
    width: 50%;
    font-size: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    bottom: 0;
    background: #8354C8 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal bold 16px SpoqaHanSans;
    color: #FFFFFF;
    line-height: 60px;
    height: 60px;
    float: right;
    opacity: 1;
}
/* 날짜 셀렉트 박스*/
#detail_store .store_date_select_container {
    flex: 1;
    text-align: left;
}
#detail_store .store_year_select {
    float: left;
}
#detail_store .store_ui-select {
    margin-top: .5em;
    margin-bottom: .5em;
    position: relative;
}
#detail_store  #store_year_select-button {
    text-align: left;
    color: #333333;
    width: 62px;
    margin-right: 0;
}
#detail_store  .store_ui-btn {
    background-color: #FFFFFF;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}
#detail_store  #store_year_select-button span {
    font: normal normal bold 19px SpoqaHanSans;
    opacity: 1;
}
#detail_store  .store_month_select {
    float: left;
    flex: 1;
}
#detail_store  #store_month_select-button {
    text-align: left;
    font: normal normal bold 19px/21px SpoqaHanSans;
    color: #333333;
    width: 69px;
    margin-left: 7px;
}
#detail_store  .store_ui-btn {
    background-color: #FFFFFF;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}
#detail_store  #store_month_select-button span {
    font: normal normal bold 19px SpoqaHanSans;
    opacity: 1;
}
#detail_store .store_ui-select span {
    color: #333333 !important;
}
#detail_store .store_ui-select .store_ui-btn select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1.5em;
    min-height: 100%;
    height: 3em;
    max-height: 100%;
    outline: 0;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    filter: Alpha(Opacity = 0);
    opacity: 0;
    z-index: 2;
}
#detail_store  .store_down_arrow {
    float: left;
    width: 21px;
    height: 21px;
    position: absolute;
    margin-left: -30px;
    margin-top: 13px;
}
/*상업공간 일정 */
#detail_store .store_dtl_cal{
    margin-left: 4%;
    margin-right: 4%;
    overflow: scroll;
    width: 92%;
    /* height: 425px; */
}
#detail_store .btcl_mid_date_container {
    text-align: left;
    height: 21px;
    margin-bottom: 21px;
    margin-top: 28px;
}
#detail_store .btcl_day {
    float: left;
    display: inline-block;
}
#detail_store .btcl_day p {
    font: normal normal bold 14px/18px SpoqaHanSans;
    color: #333333;
}
#detail_store .btcl_dayofweek {
    float: left;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
#detail_store .btcl_dayofweek p {
    font: normal normal normal 14px/18px SpoqaHanSans;
    color: #333333;
}
#detail_store .btcl_card_container {
    text-align: left;
    height: 93px;
    width: 100%;
    padding-bottom: 15px;
    display: flex;
}
#detail_store .btcl_card_img_container {
    float: left;
    width: 54px;
    height: 100%;
    /* position: relative; */
    display: flex;
    align-items: center;
}
#detail_store .btcl_card_img_box {
    width: 30px;
    height: 30px;
    border-radius: 70%;
    overflow: hidden;
}
#detail_store .btcl_card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#detail_store .btcl_card {
    float: left;
    /* height: 77px; */
    background: #F9F9FB 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border-left: 7px solid #8E83CE;
    padding: 15px 15px 20px 15px;
    width: 100%;
}
#detail_store .btcl_card_top_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#detail_store .btcl_card_title {
    flex: 2;
}
#detail_store .btcl_card_title p {
    text-align: left;
    font: normal normal bold 16px/23px SpoqaHanSans;
    color: #333333;
}
/* #busking_time_contract_list .btcl_card_confirm {
    flex: 1;
}
#busking_time_contract_list .btcl_card_confirm p {
    text-align: right;
    font: normal normal normal 14px/25px SpoqaHanSans;
    color: #9999A5;
} */
#detail_store .btcl_card_time {
    margin-top: 2px;
    text-align: left;
}
#detail_store .btcl_card_time p {
    font: normal normal normal 14px/25px SpoqaHanSans;
    color: #333333;
}
#detail_store .btcl_card_contract {
    margin-top: 10px;
    text-align: left;
}
#detail_store .btcl_card_contract p {
    font: normal normal bold 14px/25px SpoqaHanSans;
    color: #A8A8B7;
}
#detail_store .nowperform_ok{
    font: normal normal bold 14px/25px SpoqaHanSans;
    color: #8354C8  !important;
}
#detail_store .nowperform_cancel{
    font: normal normal bold 14px/25px SpoqaHanSans;
    color: #666  !important;
}

#detail_store .store_menu_div_on{
    height: 28px;
    display: inline-block;
    color: #8354C8;
    text-align: center;
    font: normal normal bold 15px SpoqaHanSans;
}
#detail_store .ui-block-a-on{
    height: 28px;
    display: inline-block;
    margin-top: 10px;
    border-bottom: 3px solid #8354c8;
    float: left;
    width: 25%;
 
}
#detail_store .ui-block-b-on{
    height: 28px;
    display: inline-block;
    margin-top: 10px;
    border-bottom: 3px solid #8354c8;
    float: left;
    width: 25%;
}
#detail_store .ui-block-c-on{
    height: 28px;
    display: inline-block;
    margin-top: 10px;
    border-bottom: 3px solid #8354c8;
    float: left;
    width: 25%;
}
#detail_store .ui-block-d-on{
    height: 28px;
    display: inline-block;
    margin-top: 10px;
    border-bottom: 3px solid #8354c8;
    float: left;
    width: 25%;
}
#detail_store .store_back_gr{
    padding-left: 20px;
    padding-top: 13px;
    width: 40px;
    height: 40px;
    /* float: left; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
#detail_store .store_dtl_img{
    z-index: -1;
    position: relative;
}
#detail_store .bdc_image_div{
    box-shadow: inset 0px -63px 102px 3px rgb(0 0 0 / 45%);
}
#imge_li_bt_left{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35px;
    height: 54px;
    background: url(/img/store/detail_store_back.svg) no-repeat;
    background-size: cover;
    opacity: 1;
    margin-top: 122.5px;
}
#imge_li_bt_right{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 54px;
    background: url(/img/store/detail_store_prev.svg) no-repeat;
    background-size: cover;
    opacity: 1;
    margin-top: 122.5px;
}
#detail_store .store_menu_div_on span {
    font: normal normal Bold 15px SpoqaHanSans;
}
#detail_store .store_date_buskingstatus_ck{
    float: right;
    margin-right: 4%;
    margin-top: 10px;
}
#detail_store #buskingstatus_ck{
    display: none;
    float: left;
}
#detail_store .buskingstatus_ck_value{
    text-align: left;
    font: normal normal normal 14px/22px SpoqaHanSans;
    color: #333333;
    opacity: 1;
    margin-right: 7px;
    float: left;
}
#detail_store .store_date_buskingstatus_ck label{

}
#detail_store  input[type="checkbox"]:checked + label span {
    background: url(/img/reg_store/chk.png) no-repeat;
    background-size: cover;
    margin-top: 2px;
}
#detail_store  input[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/img/reg_store/chk_no.png) no-repeat;
    background-size: cover;
    margin-top: 2px;
}

#detail_store  .store_dtl_cal_no{
    width: 100%;
    margin-top: 20%;
    text-align: center;
    font-size: 13px;
    color: #87818c;
}
#detail_store  .header_menu_container {
    border-bottom: 1px solid #f5f5f5;
    background-color: white;
    text-align: center;
    width: 100%;
}
#detail_store  #team_img_popup {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
#detail_store  #team_img_popup img {
    max-width: 95vw;
    max-height: 100vh;
}
/* #detail_store  .store_dtl_introduce_c_as{
    float: left;
    width: 15%;
    height: 20px;
    text-align: left;
    font: normal normal normal 14px SpoqaHanSans;
    color: #7B7D88;
    opacity: 1;
    margin-top: 5px;
}
#detail_store  .store_dtl_introduce_c_bs{
    margin-left: 19px;
    float: left;
    width: 77%;
    margin-top: 5px;
    text-align: left;
    font: normal normal normal 14px SpoqaHanSans;
    color: #333333;
    opacity: 1;
} */
#detail_store #store_dtl{
    width: 100%;
    /* height: 100%; */
    position: absolute;
    background-color: white;
    top: 295px;
}

#detail_store #top_bdc_pfsc_ing_body{
    width: 100%;;
    /* height: 100%; */
    position: fixed;
}
