@CHARSET "UTF-8";
/* 공통 flex 적용 */
.common_flex_container{
	display: flex;
}

/* 테이블 공통 */
table{
	border-collapse: collapse;
    border-spacing: 0;
}

td{
	border: 1px solid #444444;
    font-size: 13px;
    padding: 5px;
}

/* 텍스트 강조 공통 */
.common_form_essential_input{
	/* 필수입력 표시 */
	color:#41abff;
}

.common_purple_text{
	/* 텍스트 보라색 포인트 강조 */
	color: #8354c8 !important;
    font-weight: 700 !important;
}

/* 지도 공통 */
.map_conainter{
	padding: 15px;
}

#map{
	width: 100%;
	height: 180px;
}

/* 작성페이지 공통 부분 */
.common_form_header_title{
	padding: 30px 15px 5px 15px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.common_form_main_title{
	padding: 30px 15px 5px 15px;
    text-align: left;
    font-size: 13px;
}

.cfmt_info {
    font-size: 12px;
    color: #8354c8;
    padding-bottom: 2px;
}

.common_form_under_title{
	text-align: left;
    font-size: 11px;
    color: #4e4e4e;
    padding: 5px 15px 0px 15px;
}

.common_form_input_div{
	padding: 0px 15px;
    margin: 8px 0px;
}

.common_form_input_div .ui-corner-all{
	border: none;
    padding: 0px;
    box-shadow: none;
    background: none;
    margin: 0px;
}

.common_form_input_div input[type="text"], .common_form_input_div input[type="password"], .common_form_input_div input[type="number"]{
	font-size: 14px;
    letter-spacing: -1px;
    color: #333 !important;
    border: 1px solid #dddddd;
    padding: 8px 10px;
    border-radius: 4px;
}


.common_form_input_div_left{
	width: 75% !important;
}

.common_form_input_div_right{
	width: 25% !important;
	padding-top: 10px;
	background: #8354c8;
	color: #fff;
	border-radius: 4px;
	font-size: 14px;
}

.common_form_input_div textarea{
    resize: none !important;
    color: #333333 !important;
    border: 1px solid #dddddd !important;
    font-size: 14px;
    padding: 8px 10px !important;
    letter-spacing: -1px;
}

.common_form_imagebox{
	height: 180px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background: url(/img/common/camera_1.png) no-repeat 50%;
}

/* custom select box CSS */
.common_form_select_div{
	padding: 0px 15px;
}

.common_form_select_div .ui-corner-all{
	border: 1px solid #dddddd !important;
}

.common_form_select_div input{
	font-size: 14px;
    letter-spacing: -1px;
    color: #000 !important;
    padding: 10px 5px !important;
    text-align: center !important;
}

/* default select box CSS */
.common_form_default_select_div{
	padding: 5px 15px 0px 15px;
}

.common_form_default_select_div .ui-select > div{
	background-color: white;
    box-shadow: none;
    border-radius: 0px;
    color: #b2b2b2;
    background: url(/img/common/showing_btn.svg) no-repeat 95% 50%;
    background-size: 4%;
    -webkit-appearance: none;
    text-align-last: center;
    appearance: none;
    padding: 7px 0px;
    font-size: 15px;
}

.common_form_default_select_div .ui-select > div::after{
	display: none;
}

.common_form_info_conatiner{
	padding: 35px 15px 25px 15px;
}

.common_form_info_conatiner p{
	font-size: 12px;
}

.common_form_info_conatiner p > span{
	color: ff0000;
}

/* 약관동의 공통 부분 */
.common_terms_container{
	padding: 0px 15px 15px 15px;
}


.common_terms_all_check{
	border-bottom: 1px solid #eee;
	padding: 9px 10px;
    padding-left: 5px;
}

.common_terms_all_check input{
	width: 17px;
    height: 17px;
    margin-top: 1px;
}

.common_terms_all_check label{
	color: #333;
    font-size: 14px !important;
    font-weight: 700 !important;
    padding-left: 18px;
}

.common_terms_check{
    padding: 20px 10px 0px 15px;
    padding-left: 5px;
}

.common_terms_check input{
	width: 15px;
    height: 15px;
}

.common_terms_check label{
	text-align: left;
    font-size: 13px !important;
    color: #333;
    padding-left: 20px;
    margin: 0 !important;
}

.common_terms_view_more{
	text-align: right;
    font-size: 11px;
    color: #888;
    border-radius: 4px;
    text-decoration: underline;
    margin-left: auto;
}

/* 약관 팝업 공통 부분 */
#terms_popup-popup{
	z-index: 9999;	
}

.common_trems_popup_container{
	color: #000000 !important;
    width: 100% !important;
    height: 640px !important;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 15px;
    font-size: 14px;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 9999;
}

.common_trems_close_btn{
	position: fixed;
    right: 0;
    top: 10px;
    padding: 15px;
}

.termsTitle{
	font-size: 16px !important;
    padding-bottom: 10px;
    padding-top: 20px;
}

/* 셀렉트박스 공통  */
.ui-select span{
	color: #333333 !important;
}

/* 커스텀 셀렉트박스 공통 */
.custom_select_popup{
	position: fixed;
    width: 80%;
    left: 10%;
    top: 10%;
    height: 400px;
    background-color: #ffffff;
    z-index: 9999;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 0px 8px 1px #999999;
    display: none;
}

.custom_select_container{
    overflow: auto;
}

.custom_select_on {
    background-color: #8354c8;
    color: #ffffff;
}

.custom_select_list {
    font-size: 17px;
    padding: 15px;
    border-bottom: 1px solid #d9d9d9;
}


/* 공통 신청 및 등록 버튼 양식(section 범위를 벗어날 때) */
.common_InsertBtnForm {
	background-image: linear-gradient(to left, #8354c8 0%, #c750bf 100%);
	color: #fff;
	padding-top: 17px;
	padding-bottom: 17px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight:700 !important;
	/* 6.4일 수정 */
	margin-bottom: 10px;
	box-shadow: 0px -6px 10px -10px #5c5d69;
}

.common_InsertBtnFormFooter {
	text-align: center;
	padding: 15px;
	background-image: linear-gradient(to left, #8354c8 0%, #c750bf 100%);
	color: #fff;
}

/* 공통 수정 완료 버튼 양식(section 범위내에 있을 때) */
.common_UpdateBtnForm {
	text-align: center;
    padding: 15px;
    background-color: #e84e4e;
    color: #fff;
    font-size: 15px;
    margin: 15px;
    font-weight:700 !important;
    margin-top: 30px;
	box-shadow: 0px 4px 5px 0px #f3313126;
	border-radius: 5px;
}

/* 지도에서 선택하기 버튼 양식 */
.common_select_map_btn{
	font-size: 14px;
    text-decoration: underline;
    padding: 13px 0px;
    border: 1px solid #eee;
    margin: 15px;
    color: #2196F3;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: #f1f2f6;
    margin-top: 10px;
}

/*지도에서 선택하기 지도 양식 */
.common_map_div{
	width: 100%;
    height: 180px;
    margin: 10px 0px;
}

/* 메인 장르 선택하는 ul */
.main_genre_ul{
    display: block;
    font-size: 0;
    white-space: nowrap;
}

.main_genre_ul li{
	width: 25%;
    border-bottom: 1px solid #eeeeee;
    background-color: #fff !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 18px;
    padding-right: 10px;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
    background: #f8f8f8;
    color: #808080;
}

/* 이미지 미리보기 */
#img_preview{
	width: 100%;
	height: 100%;
	display: inline-block;
    margin: 0px auto;
}


/* 이미지 리사이징 팝업 */
#resize-image-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 9998;
    display: none;
}

.ric-btn-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}


#loading-container{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.ric-btn{
    text-align: center;
    padding: 20px 0px;
    font-size: 16px;
    font-weight: 600;
}

#ric-cancel {
    width: 30%;
    background-color: #d3d3d3;
}

#ric-save{
	width: 70%;
    background-color: #8354C8;
    color: #ffffff;
}

.loading-box{
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    text-align: center;
    background-color: #ffffff;
    padding: 60px 0px;
    border-radius: 5px;
}

.loading-box > img{
	width: 40px;
}

.loading-box > p{
	margin-top: 50px;
    font-size: 15px;
}


/* 텍스트로 검색하는 부분 공통 적용 */
.search-input-text-container{
	padding: 5px 15px 5px 15px;
	border-bottom: 1px solid #F5F5F5;
	/* box-shadow: 0px 4px 10px -8px #d5d3d8; */
}

.search-input-icon{
	width: 22px;
    margin-top: 7px;
}

.search-input-text{
	width: 100%;
	border: none;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding-top: 8px;
	padding-bottom: 8px;
	/* border-radius: 50px; */
	/* background-color: #eeeef1; */
	text-indent:5px;
	letter-spacing: -0.25;
	font-weight: bold;
}

.search-input-text::placeholder{
	color: #cbcbcb;
	font-weight: normal;
	letter-spacing: -0.5px;
}

.search-input-text::-webkit-input-placeholder {
    color: #cbcbcb;
	font-weight: normal;
	letter-spacing: -0.5px;
}
.search-input-text::-ms-input-placeholder {
    color: #cbcbcb;
	font-weight: normal;
	letter-spacing: -0.5px;
}

.search-input-text-cancel{
	width: 10% !important;
	text-align: right;
	display: -webkit-inline-box;
	padding-left: 7px;
	padding-top: 8px;
	line-height: 20px;
	padding-bottom: 8px;
	font-size: 14px;
	color: #cbcbcb;
	text-decoration: underline;
	line-height: 20px;
}

/* 날짜 검색하는 부분 공통 */
.date-search-container {
    padding: 13px 15px 10px 15px;
    display: flex;
    justify-content: flex-start;
}

.date-search-input {
    font-size: 14px;
    border: none;
    background-color: #EEE9F5;
    text-align: center;
    border-radius: 50px;
    color: #8354C8;
    display: inline-block;
    line-height: 21px;
    padding: 7px 16px;
    text-decoration: underline;
}

.date-search-input::placeholder{
	color: #8354C8;
	text-decoration: underline;
}

.date-search-input::-webkit-input-placeholder {
    color: #8354C8;
    text-decoration: underline;
}
.date-search-input::-ms-input-placeholder {
    color: #8354C8;
    text-decoration: underline;
}

.date-search-btn{
	font-weight: bold;
    font-size: 14px;
    border: 1px solid #8354c8;
    border-radius: 3px;
    padding: 3px 8px;
    color: #8354c8;
}


.date-search-cancel{
	width: 35px;
    height: 35px;
    display: none;
}