@CHARSET "UTF-8";
/* header */
header{
	min-height: 245px;
}

.h_other {
    background-image: url(/img/homepage/common/sub_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

.h_top_wapper {
    width: 100%;
}

.h_top {
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 50px;
}

.h_other .h_top{
	padding: 40px 0px;
}

.ht_right {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.ht_right p{
	letter-spacing: -0.54px;
}

.h_bottom_wapper{
	width: 100%;
}

.h_bottom{
	width: 1200px;
	padding: 15px 0px;
	margin: 0 auto;
}

.h_bottom p{
	letter-spacing: -0.48px;
}

.h_bottom img {
    margin: 6px 15px 0px 15px;
    width: 7px;
    height: 10px;
}

.h_search_wapper {
    width: 100%;
    padding-bottom: 34.5px;
    box-shadow: 0 2px 10px 0 rgba(37, 49, 69, 0.1);
}

.h_search {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.h_search span {
    display: inline-block;
    letter-spacing: -2.4px;
    height: 36px;
    line-height: 1.92;
    margin-top: 36px;
}

.h_search img {
   width: 20px;
    margin-left: 5px;
}

.hs_box {
    width: 100%;
    margin-top: 18.5px;
}

.hs_box input {
    width: 461px;
    padding: 10px 0px;
    letter-spacing: -0.42;
    text-align: left;
    text-indent: 16px;
    border-radius: 2px;
    border: solid 1px #ccc7d5;
}

.hsb_btn {
    height: 40px;
    display: inline-block;
    border-radius: 2px;
    line-height: 40px;
    width: 133px;
}

.hsb_btn_a{
	border: 1px solid #7643d5;
}

.hsb_btn_b{
	border: 1px solid #abaeb5;;
}
/* footer */
footer {
    width: 100%;
    height: 230px;
}

.f_top_wapper {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #37375F;
}

.f_top {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ft_left {
    display: flex;
}

.ft_left p{
	margin-right: 50px;
}

.ft_right select{
	border: none;
    border-left: 1px solid #37375F;
    border-right: 1px solid #37375F;
    height: 60px;
    width: 180px;
    background-image: url(/img/homepage/common/footer_fam.png);
    background-repeat: no-repeat;
    background-position: 80% 53%;
    text-indent: 40px;
}

.f_bottom {
    width: 1200px;
    margin: 0 auto;
    margin-top: 33px;
    line-height: 1.7;
}

.fb_content p {
    margin-right: 20px;
    letter-spacing: 0.42px;
}