@CHARSET "UTF-8";
#audience_cheers{
	background-color: #000000;
}

#audience_cheers .ch_img{
	background-size: 100%;
}

#audience_cheers #ch_img_1{
	background-image: url(/img/audience_cheers/support_rods_1.jpg);
}

#audience_cheers #ch_img_2{
	background-image: url(/img/audience_cheers/support_rods_2.jpg);
	display: none;
}

#audience_cheers #ch_img_3{
	background-image: url(/img/audience_cheers/support_rods_3.jpg);
	display: none;
}

#audience_cheers #ch_img_4{
	background-image: url(/img/audience_cheers/support_rods_4.jpg);
	display: none;
}

#audience_cheers #ch_img_5{
	background-image: url(/img/audience_cheers/support_rods_5.jpg);
	display: none;
}

#audience_cheers #ch_img_6{
	background-image: url(/img/audience_cheers/support_rods_6.jpg);
	display: none;
}

#audience_cheers #ch_img_7{
	background-image: url(/img/audience_cheers/support_rods_7.jpg);
	display: none;
}

#audience_cheers #ch_img_8{
	background-image: url(/img/audience_cheers/support_rods_8.jpg);
	display: none;
}

#audience_cheers #ch_img_9{
	background-image: url(/img/audience_cheers/support_rods_9.jpg);
	display: none;
}

#audience_cheers #ch_img_10{
	background-image: url(/img/audience_cheers/support_rods_10.jpg);
	display: none;
}

#audience_cheers #ch_img_11{
	background-image: url(/img/audience_cheers/support_rods_11.jpg);
	display: none;
}

#audience_cheers #ch_img_12{
	background-image: url(/img/audience_cheers/support_rods_12.jpg);
	display: none;
}


/* 슬라이드바 부분 CSS */
#audience_cheers input[type="number"]{
	display: none;
}

#audience_cheers .ui-slider{
	position: absolute;
	width: 100%;
	bottom: 10%;
	margin: 0 auto;
	z-index: 9999;
}

#audience_cheers .ui-slider-track{
	margin: 25px;
}