@CHARSET "UTF-8";
/* basic START */
@font-face{
	font-family: Spoqa Han Sans;
	src: url(/font/SpoqaHanSansRegular.woff2) format('woff2'),
		url(/font/SpoqaHanSansRegular.woff) format('woff'),
		url(/font/SpoqaHanSansRegular.ttf) format('truetype');
}

@font-face{
	font-family: Spoqa Han Sans;
	src: url(/font/SpoqaHanSansBold.woff2) format('woff2'),
		url(/font/SpoqaHanSansBold.woff) format('woff'),
		url(/font/SpoqaHanSansBold.ttf) format('truetype');
	font-weight: bold;
}

@font-face{
	font-family: Spoqa Han Sans;
	src: url(/font/SpoqaHanSansBold.woff2) format('woff2'),
		url(/font/SpoqaHanSansBold.woff) format('woff'),
		url(/font/SpoqaHanSansBold.ttf) format('truetype');
	font-weight: 700;
}

@font-face{
	font-family: Nanum Pen Script;
	src: url(/font/NanumPenScript-Regular.woff2) format('woff2'),
		url(/font/NanumPenScript-Regular.woff) format('woff'),
		url(/font/NanumPenScript-Regular.ttf) format('truetype');
}

*:not(i) {
	margin: 0em;
	padding: 0em;
	text-shadow: none !important;
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline-style: none;
	letter-spacing: -0.5px;
	font-weight: 400;
	word-wrap: break-word;
    word-break: keep-all;
}

*{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

input::placeholder, textarea::placeholder{
	color: #a5a5a5;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
	color: #a5a5a5;
}

html {
	/* ios touch delay remove */
	touch-action: manipulation;
	height: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: none;
}

html .touch  no-tap-delay {
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0);
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

html, body, div, form, input, select, button, textarea, legend, fieldset,
	h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p,
	th, td, caption {
	margin: 0;
	padding: 0;
}

ol, ul, li {
	list-style: none;
}

img, fieldset {
	border: 0 none;
}

input, select, textarea {
	vertical-align: middle;
	resize: none;
	position: relative;
}

input[type=text], input[type=password], input[type=submit], input[type=search],
	textarea {
	-webkit-appearance: none;
}

button {
	border: 0 none;
	background: transparent;
	cursor: pointer;
}

hr {
	display: none;
}

legend, .hide {
	width: 0;
	height: 0;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

table caption {
	width: 0;
	height: 0;
	visibility: hidden;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
}

header, footer, section, article, aside, nav, hgroup, details, menu,
	figure, figcaption {
	display: block;
}

url {
    text-decoration: underline;
    color: #007eff !important;
}

a:link, a:visited {
	text-decoration: none;
	color: #666;
}

a:active, a:hover, a:focus {
	text-decoration: underline;
}

input.basic {
	height: 19px;
	line-height: 19px;
	padding: 0 5px;
	border: 1px solid #cacaca;
	*margin-top: -1px;
	_margin-top: -2px;
}

textarea.basic {
	border: 1px solid #cacaca;
	padding: 5px;
	overflow: scroll;
	overflow-x: hidden;
	*margin-top: -1px;
	_margin-top: -2px;
}

select.basic {
	height: 21px;
}
/* basic END */


#output{
	width:100%;
	height:100%;
	display:inline-block;
	margin:0px auto;
}

.keypadMask{
	/* ios input focus í–ˆì„ ë•Œ  íŽ˜ì´ì§€ ë°€ë¦¼ í˜„ìƒ í•´ê²° */
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}	

.androidFix {
	overflow: hidden !important;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}

.ui-li-count{
	display: none !important;
}

.daterangepicker{
	min-width: 315px !important;
}

#index_content {
	padding: 0;
	padding-top: env(safe-area-inset-top);
	padding-top: constant(safe-area-inset-top);
	margin-bottom: env(safe-area-inset-bottom);
	margin-bottom: constant(safe-area-inset-bottom);
	text-align: center;
	height: 100% !important;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

div[data-role=content]:not(#index_content):not(#myinfoContent):not(#perform_request_detail):not(#thanks_people_sec):not(#buskingOathContent):not(#share_item_list_sec):not(#pbi_condition_sec){
	padding: 0;
	margin-bottom: calc(45px + env(safe-area-inset-bottom));
	margin-bottom: calc(45px + constant(safe-area-inset-bottom));
	text-align: center;
	height: 100% !important;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

div[data-role=content]::-webkit-scrollbar {
	display: none;
}

/* ëª¨ë‹¬ìª½ css  */
#modal-window .modal-box .modal-buttons a.modal-btn.btn-large {
	padding: 15px 25px !important;
}

#modal-window .modal-btn {
	padding: 15px 25px !important;
}

#modal-window .modal-btn btn-light-blue {
	padding: 15px 25px !important;
}

/* ë‹¤ìŒ ìš°íŽ¸ë²ˆí˜¸ close css */
#btnCloseLayer {
	width: 35px;
}

#myinfoLogoutBtn{
	background-color: #6b6c6f !important;
    color: #fff;
    box-shadow: 0px 4px 5px 0px #c0c1c154;
    margin-bottom: 15px;
    text-decoration: underline;
}

/* ìˆ˜ë￼ ì´ë²¤íŠ¸ ë¦¬ìŠ¤ë„ˆ ë‚´ì—ì„œ ê¸°ë³¸ ë°￼ì§€  */
/* .ui-mobile-viewport{
	position: relative;
} */
#touchFlow li {
	color: #6b6b6d;
	
}

#touchFlow2 li {
	color: #6b6b6d;
	/* text-decoration: underline; */
}

#touchFlow3 li {
	color: #6b6b6d;
	
}

#touchFlow4 li {
	color: #6b6b6d;
	/* text-decoration: underline; */
}

#touchFlow5 li {
	color: #6b6b6d;
	
}

/* panel ìŠ¤í¬ë¡¤ ë”°ë¡œ ì„¤ì •  */
.ui-panel.ui-panel-open {
	position: fixed;
}

.ui-panel-inner {
	position: absolute;
	top: 1px;
	left: 0;
	right: 0;
	bottom: 0px;
	overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
	/* width: 100%; */
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

h1 {
	font-size: 16px;
}

h2 {
	margin-top: 20px;
	text-align: center;
}

button {
	padding: 10px;
	font-size: 11px;
	color: #fff;
	background: #444;
	border-radius: 4px;
}

.nav_h_responsive_type {
	background: #ccc;
	position: relative;
	overflow: hidden;
}

.nav_h_responsive_type ul {
	display: block;
	font-size: 0;
	white-space: nowrap;
	position: relative;
}

.nav_h_responsive_type li {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 30%;
	vertical-align: top;
	border: 1px solid #ccc;
}

.nav_h_responsive_type li.on {
	border-bottom-color: orange;
	border-bottom-width: medium;
	border-bottom-style: solid;
}

.nav_h_responsive_type li .thumb {
	display: block;
	height: 0;
	padding-top: 56%;
	position: relative;
	overflow: hidden;
}

.nav_h_responsive_type li img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.nav_h_type {
	position: relative;
	overflow: hidden;
}

.nav_h_type ul {
	float: left;
	display: block;
	font-size: 0;
	white-space: nowrap;
	position: relative;
}

.nav_h_type li {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 94px;
	/*   display: table-cell;
    width: 98px; */
	padding-left: 18px;
	padding-right: 10px;
	height: 40px;
	line-height: 40px;
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	background: #f8f8f8;
	border-bottom-color: #d5d5d5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #808080;
}

.nav_h_type li a {
	color: #333 !important;
	font-weight: normal !important;
	text-decoration: none !important;
}

.nav_h_type li.on {
	font-weight: 700;
	border-bottom-color: #ff7f2a;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	color: #1a1a1a;
}

.nav_h_type.wide li {
	width: 280px;
}

.nav_v_type {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: #ccc;
	position: relative;
	overflow: hidden;
}

.nav_v_type ul {
	display: block;
	position: relative;
}

.nav_v_type li {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
	background: #eee;
	border: 1px solid #ccc;
}

.nav_v_type li.on {
	background: #aaa;
}

.contents_scroll {
	width: 250px;
	height: 300px;
	margin: 0 auto;
	font-size: 14px;
	background: #f5f5f5;
	position: relative;
	overflow: hidden;
}

.contents_scroll p {
	padding: 10px;
}

.touchflow-scrollbar {
	background: rgba(0, 0, 0, 0.1);
	transition: 300ms;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.touchflow-scrollbar div {
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
}

body {
	padding: 0;
	margin: 0;
}
#countmin-button, #countmax-button {
    background-color: white;
    box-shadow: none;
    border-radius: 0px;
    color: #b2b2b2;
    background: url(/img/common/showing_btn.svg) no-repeat 95% 50%;
    background-size: 4%;
    -webkit-appearance: none;
    text-align-last: center;
    appearance: none;
    padding: 7px 0px;
    font-size: 15px;
}
#countmin-button:after, #countmax-button:after{
	display: none;
}

.fa_count_flex{
	display: flex;
	justify-content: space-between;
}

#fa_count_box .ui-select{
	width: 48%;
} 

/* ì´ë¯¸ì§€ ìŠ¬ë¼ì´ë“œ ë¶€ë¶„111  */
.header {
	text-align: center;
}
/* .header img{width: 100%; height: auto;} */
img {
	max-width: 100%;
	height: auto;

}

.profile {
	border: 3px solid gold;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
}

/* pager ê´€ë ¨ css */
.cycle-pager {
	text-align: center;
	width: 100%;
	z-index: 500;
	position: absolute;
	bottom: 20px;
}

.cycle-pager span {
	font-family: arial;
	font-size: 26px;
	width: 5px;
	height: 5px;
	display: inline-block;
	color: #dfdfdf;
	cursor: pointer;
	border-radius: 30px;
	margin-right: 10px;
}

.cycle-pager span.cycle-pager-active {
	color: #8d5cb1;
}

.cycle-pager>* {
	cursor: pointer;
}

#heartpay_logo {
	width: 100%;
	height: 6em;
	display: block;
}

#popularBand {
	width: 330px;
	height: 150px;
	border: 1px solid;
}

#join_popup {
	background: blue;
}

.ui-focus {
	box-shadow: none !important;
}

/* ë￼”ì¸ í—¤ë” CSS */
#index #index_header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1111;
	height: 40px;
	text-align: left;
	background: none;
	/* background-color: #7122b8; */
	/* border-bottom: 1px solid #f1f2f6;*/
	/* box-shadow: 0px -1px 10px 0px #9c9c9c3d; */
	padding-top: calc(env(safe-area-inset-top));
	padding-top: calc(constant(safe-area-inset-top));
	-webkit-overflow-scrolling: touch;
	padding-bottom: 15px;
}

#header {
	padding-top: env(safe-area-inset-top);
	padding-top: constant(safe-area-inset-top);
	background-color: #ffffff;
}

#index_header .ui-block-a {
	padding-top: 18px;
	padding-left: 15px;
	width: 68%;
}

#index_header .ui-block-b {
	width: 17%;
	padding-top: 13px;
	text-align: right;
	padding-right: 2px;
	padding-left: 10px;
}

#index_header .ui-block-c {
	width: 11%;
	text-align: right;
	padding-top: 13px;
}

#index_header .ui-block-c a{
	padding-top: 13px;
	padding-right: 20px;
	padding-left: 10px;
	margin-left:8px;
	
}

#index_header_b .index_menu_on {
	padding: 0px 3px 8px 3px;
	border-bottom: 3px solid #fff;
	/*text-decoration: underline;*/
}

#side_panel_btn{
    position: fixed;
    top: 300px;
    left: 0;
    display: none;
}

#side_panel_btn img {
    width: 17px;
    height: 90px;
}

/* ë￼”ì¸ ì§„í–‰ì¤‘ ê³µì—° List */
.ic-perform-container {
	/* position: relative; */
    /* background-image: url(/img/v3/main_bg.svg); */
    background-image: url(/img/v3/bg-01@2x.png);
    background-size: 100vw;
    background-repeat: no-repeat;
}

 
/* .ip-bg{
	position: absolute; 
} */
 
.icp-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    /* margin-top: 12px; */
    margin-top: 25px;
    margin-bottom: 1px;
}

.icp-title {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    line-height: 28px;
}

.icp-all-view{
	display: flex;
}

.icp-all-view-text {
    padding-top: 10px;
    font-size: 14px;
    color: #ffffff;
    justify-content: flex-end;
    line-height: 7px;
    font-weight: 600;
    opacity: 0.7;
}

.icp-all-view-icon{
	width: 13px;
    margin-top: 3px;
    margin-left: 2px;
}

.icb-item-container {
    width: 134px;
    /* margin-top: 26px; */
    margin-left: 10px;
    padding-top: 15px;
}

.itemslide-active .icb-item-container {
	margin-top: 0px !important;
	width: 134px !important;
}

.icb-item-last{
	margin-right: 35px;
}

.icb-image{
	position: relative;
	border-radius: 10px;
    width: 182px;
    right: 20px;
	height: 162px;
    box-shadow: inset 0px 23px 34px 5px rgb(0 0 0 / 35%);
}

.icb-image > img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
    z-index: -1;
    position: relative;
}


/* .itemslide-active .icb-image{
	width: 134px !important;
	height: 163px !important;
} */

.icb-dday {
    position: absolute;
    top: -15px;
    right: -10px;
    background-color: #2D144E;
    padding: 9px 5px;
    border-radius: 50px;
    opacity: 0.95;
}

.icb-dday span {
    display: inline-block;
    font-size: 10px;
    height: 16px;
    width: 24px;
    color: #ffffff;
}

.itemslide-active .icb-dday {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #2D144E;
    padding: 14px 4px;
    border-radius: 50px;
    opacity: 0.95;
}

.itemslide-active .icb-dday span {
    display: inline-block;
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    width: 39px;
    color: #ffffff;
    font-weight: bold;
}
.icb-status{
    margin-top: 8px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 21px;
    line-height: 21px;
    text-align: left;
    font: normal normal bold 12px SpoqaHanSans;
    padding-left: 8px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    width: 45px;
    height: 18px;
    z-index: 1;
}
.icb-image_ov{
    overflow: hidden;
    border-radius: 10px;
}
.icb-sname{
    margin-top: 10px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 21px;
    line-height: 21px;
    width: 60%;
    float: left;
    text-align: left;
    font: normal normal bold 14px SpoqaHanSans;
    letter-spacing: -0.5px;
    color: #333333;
    opacity: 1;
    padding-left: 5px;
}

.icb-title {
    color: #999999;
    font-size: 12px;
    margin-top: 1px;
    text-align: left;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
}
.icb-addr{
    margin-top: 5.5px;
    /* font-size: 15px; */
    text-align: left;
    font: normal normal normal 13px SpoqaHanSans;
    /* margin-top: 10px; */
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 21px;
    line-height: 21px;
    width: 60%;
    float: left;
    color: #999999;
    padding-left: 5px;
    letter-spacing: -0.5px;
}
.icb-date{
    text-align: right;
    font: normal normal bold 13px SpoqaHanSans;
    letter-spacing: -0.5px; 
    color: #333333;
    opacity: 1;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    float: right;
    width: 32%;
    margin-top: 10px;
    padding-right: 5px;
}
.icb-time-s{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    float: right;
    width: 29%;
    margin-top: 6.5px;
    padding-right: 8px;
    text-align: right;
    font: normal normal bold 13px SpoqaHanSans;
    letter-spacing: -0.5px;
    color: #8E8EAC;
    opacity: 1;
}
.icb-time-e{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    float: right;
    width: 29%;
    /* margin-top: 6.5px; */
    padding-right: 8px;
    text-align: right;
    font: normal normal bold 13px SpoqaHanSans;
    letter-spacing: -0.5px;
    color: #8E8EAC;
    opacity: 1;
}
.icb-tname{
    text-align: left;
    font: normal normal normal 13px SpoqaHanSans;
    letter-spacing: -0.5px;
    color: #666666;
    opacity: 1;
    padding-left: 5px;
    /* margin-top: 10px; */
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 21px;
    line-height: 21px;
    width: 60%;
    float: left;
}
.index-btn-container{
	display: flex;
	justify-content: space-between;
	padding: 0px 15px;
}

.ibc-btn{
	width: 49%;
	position: relative;
}

.ibc-text {
    position: absolute;
    bottom: 8px;
    left: 10px;
}

.ibc-title{
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	height: 20px;
	line-height: 20px;
	text-align: left;
	margin-bottom: 2px;
}

.ibc-title img {
    width: 9px;
}

.ibc-subtitle{
	color: #ffffff;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	opacity: 0.8;
	text-align: left;
}

.ica-header{
	display: flex;
	justify-content: space-between;
	padding: 28px 15px 0px 15px;
}

.ica-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.ica-all-btn{
	display: flex;
	justify-content: flex-end;
}

.ica-all-text {
    color: #999;
    font-size: 14px;
    padding-top: 4px;
    font-weight: bold;
    line-height: 21px;
}

.ica-all-icon {
    width: 13px;
    margin-top: 1px;
}

.index_chart_item {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
    padding: 10px 0px;
    border-bottom: 1px solid #f9f9f9;
}

.index_chart_item:first-child {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
    padding-top: 7px;
    border-bottom: 1px solid #f9f9f9;
}


.ici-left {
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.ici-rank {
    font-size: 17px;
    display: inline-block;
    margin-top: 15px;
    width: 20px;
}

.ici-image {
    width: 50px;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    margin: 0px 15px;
}

.ici-text-box {
    margin-top: 10px;
    max-width: 55vw;
}

.ici-tname {
    font-size: 15px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    height: 21px;
    line-height: 21px;
}

.ici-genre {
    color: #999999;
    font-size: 12px;
    margin-top: 2px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    height: 18px;
    line-height: 18px;
    max-width: 155px;
}

.ici-right {
    width: 10%;
    text-align: right;
}

.ici-right img {
    width: 21px;
    margin-top: 18px;
}

#index #index_pfsc_ing {
	padding: 50px 0px 0px 0px;
	/* height: 263px; */
	/* border-bottom: 1px solid #f2f3f5; */
}

#index .index_pfsc_header {
	padding: 5px 15px 15px 15px;
	/* border-bottom: 1px solid #f9f9f9; */
	/* background-color: #f9f9f9; */
}
#index #index_header_txt1{
	/* background-color: #f1f2f6; */
}
#index #index_header_txt2{
	pading: 15px 0px;
}

#index .index_pfsc_ing_content {
    width: 140px;
    float: left;
    margin-right: 2px;
    margin-bottom: 15px;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

#index_pfsc_ing_ul li:FIRST-CHILD {
	padding-left: 5px;
	margin-left: 15px;
}

.index_pfsc_ing_content .ui-block-a {
	width: 100% !important;
	height: 168px;
	text-align: left;
	margin-bottom: 10px;
	/* box-shadow: 0px 5px 8px 0px #d2d4d8; */
	border-radius: 10px;
	/* border:1px solid #f1f2f9; */
	margin: 10px;
	margin-top: 0;
	position: relative;
}

.index_pfsc_ing_content .ui-block-a img{
	position: absolute;
	width: 100%;
	height: 100%;	
	border-radius: 10px;
}

.index_pfsc_ing_content .ui-block-a p {
	display: inline-block;
    background: #131415;
    opacity: 0.7;
    font-size: 10px;
    padding: 1px 4px;
    color: #fff;
    border: 1px solid #29292952;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
	border-radius: 2px;
}

.index_pfsc_ing_content .ui-block-b {
    width: 100% !important;
    text-align: left;
    font-size: 15px;
    color: #333;
    margin-top: 7px;
    margin-left: 15px;
    display: block;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.index_pfsc_ing_content .ui-block-c {
	width: 98% !important;
    text-align: left;
    font-size: 11px;
    color: #9e9e9e;
    margin-top: 5px;
    margin-left: 15px;
    display: block;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* ë￼”ì¸ ìž¥ë¥´ë³„ ì¼ì • CSS */
#index #index_pfsc_genre_container {
	/* background: linear-gradient(135deg, #c8d5e7 23%,#dcc9dd 100%); */
	height: 80px;
	padding-bottom: 10px;
}

#index_pfsc_genre_container .index_pfsc_genre_content {
	width: 58px;
	height: 58px;
	background: url(/img/test/ep2.png) no-repeat;
	background-size: cover;
	margin-right: 20px;
	border-radius: 5em;
	box-shadow: 0px 2px 10px 0px #9393944a;
}

#index_pfsc_genre_container .index_pfsc_genre_all {
	width: 42px;
	height: 42px;
	background-color: #dce2e7;
	margin-right: 20px;
	margin-left: 10px;
	border-radius: 5em;
	margin-top: 10px;
	background: url(/img/test/all.svg) no-repeat;
	box-shadow: 0px 2px 4px 0px #d0d0d64a;
}

#index_pfsc_genre_ul li:FIRST-CHILD {
	margin-left: 10px;
}

#index_pfsc_genre_container .index_pfsc_genre_content p {
	position: absolute;
	width: 75px;
	top: 30px;
	font-size: 13px;
	color: #fff;
}

/* ë￼”ì¸ ìŠ¬ë¼ì´ë” CSS */
#index_pfsc_ing_body { /* Carousel Frame */
	overflow: hidden;
	min-height: 130px;
	/* background-color: #f1f2f6; */
}

#index_pfsc_ing_body ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#index_pfsc_ing_body li {
	float: left;
	margin-left: 0 !important;
    /* margin-top: 26px; */
}

#index_pfsc_genre_body { /* Carousel Frame */
	overflow: hidden;
}

#index_pfsc_genre_body ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#index_pfsc_genre_body li {
	float: left;
}

/* ë￼”ì¸ ë°”ë”” CSS */
#index #index_body {
	width: 100%;
	height: 405px;
}

#index_body .cycle_body {
	background-position: center center;
	border: 0;
	font-size: 15px;
	visibility: visible !important;
	height: 100%;
	width: 100%;
}

#index_body .cycle_body_1 {
	background: url('/img/main/top_bgimg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#index_body .cycle_body_2 {
	background: url('/img/main/con_img/con3.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#index_body .cycle_body_3 {
	background: url('/img/main/con_img/con2.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#index_body .cycle_body_4 {
	background: url('/img/main/con_img/con6_1.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#index_body .cycle_body_5 {
	background: url('/img/main/con_img/con4.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#index_body .cycle_body_6 {
	background: url('/img/main/con_img/con5.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.cycle_body .cycle_content {
	padding-top: 220px;
	line-height: 2;
	text-align: left;
	padding-left: 15px;
}

.cycle_body .cycle_title {
	width: 100% !important;
	font-size: 14px;
	margin-top: 60px;
}

.cycle_body .cycle_subject {
	width: 100% !important;
	font-size: 28px;
	margin-top: -10px;
	font-family: jeju Gothic;
}

.cycle_body .cycle_date {
	width: 100% !important;
	font-size: 12px;
	opacity: 0.8;
	margin-top: -10px;
}

#index #index_genre_select {
	font-size: 12px;
	line-height: 3.2;
	color: #414550;
}

#index_menu_list {
	border-top: 1px solid #efefef;
	text-align: center;
	/* background-color: #f8f8f8; */
	background-color: #fff;
	padding-top: 7px;
	padding-bottom: calc(4px + env(safe-area-inset-bottom));
	padding-bottom: calc(6px + constant(safe-area-inset-bottom));
}

.index_menu .index_menu_img {
	width: 100% !important;
}

.index_menu .index_menu_img img {
	/*width: 40px;*/
	/*width: 28px; */
	width: 22px;
	opacity:0.9;
}

.index_menu .index_menu_text {
    width: 100% !important;
    font-size: 10px;
    color: #333 !important;
    margin-top: 4px;
	opacity:0.9;
}

#index_genre_select .ui-grid-c {
	border-bottom: 1px solid #eeeeee;
}

#index_genre_select .ui-grid-c div {
	border-right: 1px solid #eeeeee;
}

#index_genre_select .ui-grid-c div:LAST-CHILD {
	border-right: none;
}

#index #index_main_qrscan {
	height: 90px;
	cursor: pointer;
	text-align: left;
	background: url(/img/index_main/middleImg.png) no-repeat;
	background-size: contain;
	width: 100%; 
	line-height: 1.5;
	color: #fff;
	font-weight: normal;
}

#index #index_chart_header {
	padding: 20px 15px 10px 15px;
}

#index #index_chart_container{
	min-height: 300px;
}

#index_chart_header #index_chart_header_content {
	width: 80% !important;
	text-align: left;
}

#index_chart_header #index_chart_header_img {
	width: 25px !important;
}

#index_chart_header #index_chart_header_img img {
	width: 56%;
	margin-top: 1px;
}

#index_chart_header #index_chart_header_a {
	width: 80% !important;
	color: #414550;
	font-size: 15px;
	padding-bottom: 2px;
}

#index_chart_header #index_chart_header_b {
	width: 100% !important;
	font-size: 12px;
	color: #707070;
}

#index_chart_header #index_chart_header_Vmore {
	width: 20% !important;
	text-align: right;
	font-size: 12px;
	margin-top: 1px;
	color: #707070;
	padding-top: 1px;
}

/* ë￼”ì¸ ê³µì—° ì˜ë¢°í•˜ê¸° CSS */
.index_pfreq {
	
position: relative;
	
padding: 8px 12px;
	
background-size: cover;
	
background-repeat: no-repeat;
	
box-shadow: 0px 5px 8px 0px #babdc570;
	
opacity:0.95;
	
/*background-image: linear-gradient(to bottom, #d3c4de 0%,#bbb0d4 100%); 
	background-image: linear-gradient(to bottom, #d7d7dc 0%,#cfceda 100%);*/
	
background-color:#5f1cc3;
	
margin-bottom: 10px;
	
margin-top:3px;
}

.index_pfreq .index_pfreq_img{
	position: absolute;
    width: 74%;
    bottom: -37%;
    right: 0%;
    z-index: 1;
}

.index_pfreq .ui-grid-a{
    height: 55px;
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 10px;
}

.index_pfreq_content{
	width: 100% !important;
}

.index_pfreq_content_text{
	width: 100% !important;
}

.index_pfreq_content_text .text1{
	color: #ffffff;
	text-align: left;
	font-size: 10px;
	margin-bottom: 10px;
	font-weight: 500;
	padding: 2px 4px;
	border: 1px solid #b29dd2;
	font-weight: bold;
	position: absolute;
}

.index_pfreq_content_text .text2{
	/*
	color: #3a2942;
	font-size: 18px;
	text-align: left;
	margin-bottom: 2px;
	letter-spacing: -0.2px;
	margin-top: 28px;
	*/
	color: #fff;
	font-size: 18px;
	text-align: left;
	margin-bottom: 2px;
	letter-spacing: -0.5px;
	margin-top: 24px;
	z-index: 9999;
	position: relative;
}
.index_pfreq_content_text .text3{
    color: #b29dd2;
    font-size: 10px;
    text-align: left;
    margin-bottom: 5px;
    letter-spacing: -0.5px;
    margin-top: 4px;
    z-index: 9999;
    position: relative;
}

.index_pfreq_content_btn{
	width: 30% !important;
    text-align: right;
}

#index_pfreq_goisbtn{
	
	display: inline-block;
	border-radius: 50px;
	text-align: center;
	
	opacity:0.9;
	
}

#index_pfreq_goisbtn img{
	width: 31px;
    height: 22px;
}

.index_pfreq_btn{
	text-align: left;
}

#index_pfreq_gopfreqbtn{
	display: inline-block;
	margin-top: 15px;
	background-image: linear-gradient(to right, #8d5cb1 0%, #bb6cf9 100%);
	color: #ffffff;
	font-size: 13px;
	padding: 8px 25px;
	border-radius: 50px;
	box-shadow:1px 2px 2px 0px #000000;
	visibility: hidden;
}

/* íŒì—… ë°°ê²½ */
#popup_mask {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	display: none;
	height: 100%;
}

#popup_mask2 {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	display: none;
	height: 100%;
}

/* ëª¨ë“  íŽ˜ì´ì§€ í—¤ë” í†µí•￼ */
/* ê¸°ë³¸ */
.header_menu_container {
    border-bottom: 1px solid #f5f5f5;
    background-color: white;
    text-align: center;
}

.haeder_menu_div_base {
	margin-top: 11px;
	height: 29px;
	display: inline-block;
}

.haeder_menu_div_base span {
	margin: 0;
	margin-top: 5px;
	font-size: 15px;
	color: #333;
	/* text-decoration: underline; */
	/* font-weight: bold; */
	display: block;
	line-height: 0.9;
}

.haeder_menu_div_on {
    height: 28px;
    display: inline-block;
    margin-top: 10px;
    border-bottom: 3px solid #8354c8;
}

.haeder_menu_div_on span {

margin: 0;

margin-top: 6px;

font-size: 15px;

color: #8354c8;

display: block;

line-height: 0.9;

font-weight: bold;

/* text-decoration: underline; */
}

/* ê³µí†µ í—¤ë”ë¶€ë¶„ CSS í†µí•￼ */
.common_header_text{
	font-size: 16px;
	text-shadow: none;
	margin-top: 14px;
	color:#333;
	text-align:center;
	
	padding:unset;
}

.common_header_backbtn{
	padding-left: 20px;
	padding-top: 13px;
	width: 22px;
}

.common_header_panelbtn{
	padding-right: 20px; 
	padding-top: 13px; 
	width: 22px; 
	padding-left: 3px;
}

.common_header_homebtn{
	padding-right: 17px; 
	padding-top: 10px; 
	width: 28px; 
	padding-left: 3px;
}


/* ë”ë³´ê¸° ê³µí†µ */
.moreViewBtn {
	display: inline-block;
	margin: 0 auto;
	background-color: #8354c8;
	color: #ffffff;
	font-size: 14px;
	padding: 10px 22px 10px 25px;
	border-radius: 30px;
	font-weight: normal;
	box-shadow: 0px 3px 8px 0px #d5d5d5;
	margin-top: 15px;
	margin-bottom: 10px;
	text-decoration: underline;
}

.noViewBtn{
	width: 100%;
    height: 30px;
    padding-top: 30px;
    font-size: 13px;
    color: #87818c;
    text-align: center;
}

/* ë￼”ì¸ ì‚¬ì—…ìž ì •ë³´ìª½ */
#index .licenseeInfoGrid {
	padding: 13px 15px 25px 15px;
	background-color: #f1f2f6;
	margin-top: 5%;
}

#index .licenseeInfoBlockA {
	width: 50%;
	text-align: left;
}

#index .licenseeInfoBlockA img {
	width: 45%;
	display: inline-block;
	margin-top: -5px;
}

#index .licenseeInfoBlockB {
	width: 50%;
	text-align: right;
	font-size: 12px;
	color: #b9babc;
}

#index .licenseeInfoContent {
	margin-top: 10px;
	display: block;
	text-align: center;
	text-align: center;
	font-size: 10px;
	color: #888;
	background-color: #ffffff;
	margin-bottom: calc(45px + env(safe-area-inset-bottom));
	margin-bottom: calc(45px + constant(safe-area-inset-bottom));
	line-height: 1.6;
}

#index .licenseeInfoContent p:FIRST-CHILD {
	line-height: 1.5;
	font-size: 11px;
}

#index .licenseeInfoContent .licenseTitle li p {
	display: inline-block;
	padding: 2px 4px 2px 4px;
	vertical-align: middle;
	color: #888;
	text-decoration:underline;
	font-size: 10px;
	font-weight: unset;
}

#index .licenseeInfoContent .licenseTitle li {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

#index #license_border {
	height: 8px;
	margin-bottom: 30px;
	background: #fff;
	
}

#index #licensetitle {
    margin: 15px;
    padding: 12px;
    position: relative;
    box-shadow: 0px 4px 3px 0px #babdc514;
    background-color: #eee;
    border-radius: 4px;
}

#index #licensetitle pre {
    font-size: 12px;
    color: #868686;
    text-decoration: underline;
}

#index #licensetitle img {
    width: 10px;
    position: absolute;
      margin-top: -12px;
    right: 32%;
}

#index #licensebody{
	display: none;
}



/* ì•± ì²˜ìŒ ì‹¤í–‰ ì‹œ ë￼”ì¸ì—ì„œ ë³´ì—¬ì£¼ëŠ” ì•±ì„¤ëª…ì„œ  íŒì—… ê´€ë ¨ CSS*/
.coachMarkFont{
	font-family: 'Nanum Pen Script', cursive !important;
}

.cmp_accent{
	color: #b184f4;
}

#index #coachMarkPopup-popup{
	width: 100%;
    top: 1% !important;
    left: 0 !important;
    max-width: none !important;
}

#index #coachMarkPopup{
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    color: #fff;
}

#index .cmp_page{
	height: 100%;
}

#index .cmp_page_bigtitle{
	font-size: 29px;
	padding-top: 60px;
	padding-left: 15px;
	line-height: 1.2;
}

#index .cmp_page_smalltitle {
	font-size: 21px;
	padding-left: 15px;
}

#index .cmp_footer{
	position: absolute;
    width: 92%;
    bottom: 2%;
    padding: 15px 15px;
}

#index .cmp_footer_btn{
	display: inline-block;
    text-align: center;
}

#index .cmp_footer_btn img{
	width: 80%;
}

#index .cmp_footer_btn p{
	font-size: 12px;
    text-align: center;
    text-decoration: underline;
}

#index .cmp_footer_prev{
	float: left;
	display: none;
}

#index .cmp_footer_next{
	float: right;
}

#index .cmp_footer_close{
	float: right;
	display: none;
}

/* 1íŽ˜ì´ì§€ CSS */
#index .cmp_page_1_body{
	position: relative;
}

#index .cmp_page_1_mainimage{
	padding: 15px 15px 0px 15px;
}

#index .cmp_page_1_maintext{
	position: absolute;
    display: inline-block;
    font-size: 22px;
    right: 15%;
    top: 81%;
}

#index .cmp_page_1_content{
	padding: 15px;
    margin: 0px 15px;
    border: 3px dashed #8d5cb1;
    border-radius: 20px;
    text-align: center;
    font-size: 21px;
    line-height: 1.1;
}

#index .cmp_page_1_footer_image{
	position: absolute;
    display: inline-block;
    width: 100%;
    bottom: 11%;
    right: 15%;
    text-align: right;
}

#index .cmp_page_1_footer_image span{
	font-size: 20px;
}

#index .cmp_page_1_footer_image img{
	width: 25px;
    position: absolute;
    top: 15%;
}

/* 2íŽ˜ì´ì§€ CSS */
#index .cmp_page_left_container{
	position: relative;
	width: 50%;
	float: left;
	text-align: left;
	padding-top: 40px;
}

#index .cmp_page_left_container img{
	width: 42%;
	padding-left: 15px;
}

#index .cmp_plc_text_container{
	width: 100%;
    position: absolute;
    left: 53%;
}

#index .cmp_plc_imagetitle{
	width: 100%;
    display: block;
    font-size: 20px;
}

#index .cmp_plc_imagesubtitle{
	position: absolute;
    left: -13%;
    font-size: 12px;
    padding-top: 3px;
}

#index #cmp_plc_text_1{
	top: 17%;
}

#index #cmp_plc_text_2{
	top: 40%;
}

#index #cmp_plc_text_3{
	top: 64%;
}

#index .cmp_page_right_container{
	position: relative;
    width: 40%;
    float: right;
    height: 20%;
}

#index .cmp_prc_tipbox{
	position: absolute;
    width: 60%;
    top: 15%;
    right: 0%;
}

#index .cmp_prc_tipbox_text{
	position: absolute;
    width: 100%;
    top: 13%;
    right: -5%;
    font-size: 20px;
    line-height: 0.8;
}

#index .cmp_page_bottom_container{
    position: relative;
	width: 100%;
    display: inline-block;
    padding-top: 75px;
}

#index .cmp_pbc_title{
	position: absolute;
    top: 20%;
    font-size: 20px;
    line-height: 1;
}

#index #cmp_pbc_text_1{
	left: 6%
}

#index #cmp_pbc_text_2{
	left: 25%
}

#index #cmp_pbc_text_3{
	left: 70%
}


/* 3íŽ˜ì´ì§€, 4íŽ˜ì´ì§€ CSS */
#index .cmp_page_container{
	text-align: center;
	padding-top: 15px;
}

#index .cmp_page_container div{
    padding-top: 30px;
}

#index .cmp_page_container img{
    width: 27%;
}

#index .cmp_pc_title{
    font-size: 22px;
}

#index .cmp_pc_subtitle{
    font-size: 13px;
}

/* ë￼”ì¸íŽ˜ì´ì§€ ì´ë²¤íŠ¸ ë°°ë„ˆ ë²„íŠ¼  CSS*/
#index .event_banner{
    position: fixed;
    width: 101px;
    bottom: 67%;
    left: 37%;
    z-index: 1000;
    padding: 8% 2.8%;
    border-radius: 150px;
    background-image: linear-gradient(to bottom, #9954ff 0%, #8314ff 100%);
    box-shadow: 0px 6px 8px 0px #4c1c825c;
}


/* ë￼”ì¸íŽ˜ì´ì§€ ì´ë²¤íŠ¸ íŒì—… CSS */
#index #indexEventPopup{
	border: none;
}

#index .iep_always_close_btn{
	text-align: left;
}

#index .iep_always_close_btn .ui-checkbox{
	margin: 0;
}

#index .iep_always_close_btn label:after{
	display: none;
}

#index .iep_always_close_btn .ui-checkbox-off{
	background-image: url(/img/common/checkbox.png);
	background-repeat: no-repeat;
	border: none;
	font-size: 12px;
	background-color: #ffffff;
	background-size: 13px;
	background-position: 8%;
	padding: 13px 10px 13px 30px;
	font-weight: normal;
}

#index .iep_always_close_btn .ui-checkbox-on{
	background-image: url(/img/common/checkbox_checked.png);
    background-repeat: no-repeat;
    border: none;
    font-size: 12px;
    background-color: #ffffff;
    background-size: 13px;
    background-position: 8%;
    padding: 10px 10px 10px 30px;
    font-weight: normal;
}

#index .iep_always_close_btn #indexEventPopupChk{
	display: none;
}

#index .iep_close_btn{
	text-align: right;
	padding: 13px;
	font-size: 12px;
	position: relative;
}

#index .iep_close_btn #indexEventPopupClose{
	width: 9px;
	height: 9px;
	position: absolute;
	right: 41px;
	top: 16px;
}

/* ë￼”ì¸ìª½ ê³µì—°ì¼ì • ë”ë³´ê¸° item*/
#index #index_pfsc_moreview_btn pre{
	display: inline-block;
    font-size: 13px;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 33%;
}

#dVideo_content{
	text-align:left;
	font-size: 14px;
}

/* ë￼”ì¸ ì•„ì´ì½˜ ë￼”ë‰´ CSS */
.index_icon_menu {
    display: flex;
    justify-content: space-between;
    padding: 28px 15px 15px 15px;
}

.index_icon_item {
    width: 55px;
}

.index_icon_item_2{
	width: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.index_icon_box {
    padding: 6px;
    background: linear-gradient(90deg, #EFF0F4, #fff);
    position: relative;
    border-radius: 10px;
    width: 33px;
    /* height: 33px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    box-shadow: 0px 3px 5px 0px #eceaf1;
}

.iib_icon {
	width: 33px;
    height: 33px;
}

.iib_n_icon {
    width: 30px;
    position: absolute;
    top: -10px;
    right: -10px;
    display: none;
}

.iib_text {
    font-size: 12px;
    margin-top: 8px;
    color: #767676;
}

.bg_none {
	background-color: #ffffff;
    box-shadow: none;
    background: none;
}


/* recruit-popup */
.recruit-popup{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
/* 메뉴얼 팝업 */
#manual_popup {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.manul_box{
	width: 294px;
	height: 379px;
    position: fixed;
    background-image: url(/img/index/manual/12.png);
	background-size: cover;
    top: 211px;
    left: 10%;
}
.manul_text1{
    text-align: center;
    font: normal normal normal 12px/20px SpoqaHanSans;
    letter-spacing: -0.6px;
    color: #BEB9D9;
    opacity: 1;
    margin-top: 27px;
}
.manul_img{
	width: 182.5px;
	height: 65.5px;
	background-image: url(/img/index/manual/index_manual_text.svg);
	background-size: cover;
	opacity: 1;
	margin-top: 15.2px;
    margin-left: 56px;
}
.manul_text2{
    text-align: center;
    font: normal normal normal 14px/20px SpoqaHanSans;
    letter-spacing: -0.7px;
    color: #ACA9BE;
    opacity: 1;
    margin-top: 13.5px;
}
.manul_text3{
	text-align: center;
    font: normal normal normal 14px/20px SpoqaHanSans;
    letter-spacing: -0.7px;
    color: #ACA9BE;
    opacity: 1;
}
.manul_go_but{
    width: 170px;
    height: 43px;
    border: 2px solid #FFFFFF;
    opacity: 1;
    margin-top: 30px;
    margin-left: 56px;
    text-align: center;
	font: normal normal bold 14px/20.5px SpoqaHanSans;
    letter-spacing: -0.7px;
    color: #FFFFFF;
}
.manul_go_but span{
	height: 43px;
    line-height: 43px;
}
.manul_footer{
	position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
}
.manul_footer_left{
    float: left;
    width: 57%;
    height: 50px;
    line-height: 50px;
}
#manul_checkbox{
	display: none;
}
#manul_checkbox:checked + label #manul_checkbox_div {
    background-image: url(/img/common/checkbox_checked.png);
	background-size: cover;
}
#manul_checkbox_div{
    float: left;
    width: 20px;
    height: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #C9C9C9;
    opacity: 1;
    margin-left: 20px;
    margin-top: 13px;

}
.manul_checkbox_text{
	font: normal normal normal 13px/19px SpoqaHanSans;
    letter-spacing: -0.65px;
    color: #83878E;
    opacity: 1;
    height: 50px;
    line-height: 50px;
    margin-left: 50px;

}
.manul_footer_right{
	float: right;
    text-align: center;
    font: normal normal normal 13px/19px SpoqaHanSans;
    letter-spacing: -0.65px;
    color: #83878E;
    opacity: 1;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
}
