@CHARSET "UTF-8";
/* 공연 요청 페이지 */
.perform_req_time_center_text{
	padding-top: 15px;
}

.perform_req_dateBtnPart{
	text-align: right;
    padding: 15px 15px 15px 15px;
    color: white;
}

.perform_req_dateBtnPart span{
	padding: 7px;
	font-size: 15px;
	background-color: #888;
	display: block;
	text-align: center;
	line-height: 2;
	font-weight: 700;
	border-radius: 4px;
}

.perform_req_dateBtnPart #prqFinishBtn{
	padding: 7px 20px;
	background-color: #8354c8;
}

.perform_req_dateBtnPart #prqResetBtn{
	padding: 10px 15px;
	background-color: #d6d6d8;
	color: #97989c;
	font-weight: 400;
	font-size: 14px;
	font-weight: 700;
	text-decoration: underline;
}

#peform_req_addDateForm{
	font-size: 14px;
}

#peform_req_addDateForm .ui-grid-a{
	padding: 10px 15px 0px 15px;
}

#peform_req_addDateForm .ui-grid-a .ui-block-a{
	width: 85%;
}

#peform_req_addDateForm .ui-grid-a .ui-block-b{
	width: 15%;
}

.perform_req_dateForm .ui-select > div{
	background: none !important;
}

#peform_req_addDateForm p{
    padding: 10px 0px;
    border: 1px solid #dddddd;
}

#peform_req_addDateForm .prq_pDate{
	border-right: 0px;
	font-weight: 700;
}

#peform_req_addDateForm .prq_pDateCancel{
	border-left: 0px;	
}


/*  공연 의뢰 내역  title css */
.prqListTitleCss .ui-block-a{
	width: 50%;
	text-align: left;
	padding: 2% 0 2% 15px;
	font-size: 15px;
	color:#333;
	border-bottom: 1px solid #eee;
}
.prqListTitleCss .ui-block-b{
	width: 50%;
	text-align: right;
	font-size: 12px;
	padding: 2% 15px 2% 0;
	margin-top: 1%;
	color:#888;
	border-bottom: 1px solid #eee;
}
.prqListTitleCss .ui-block-a span{
	color:#707070; 
	text-decoration:underline;
}

/* 공연의뢰 내역 팀이름 및 등록날짜 css  */
.prqShowIsTeam{
	text-align: left;
	font-size: 16px;
	color: #333;
	padding-bottom: 0px;
	margin: 15px;
	font-weight: bold;
}

.prqShowIsDate{
	font-size: 11px;
	color: #9e9e9e;
	font-weight:normal;
	margin-top: 7PX;
	display: block;
	margin-bottom: 10px;
}

/* 공연의뢰 내역 content */
.prqListContentCss{
	padding: 0px 10px;
	font-size: 14px;
	text-align: left;
	color:#333;
	border-top-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 15px;
	background-image: linear-gradient(to bottom, #8354c8 0%, #7240bb 100%);
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0px 6px 12px 0px #c2c2ca;
}

.prqListContentCss .ui-block-a{
	width: 27% !important;
	color: #9e9e9e;
}

.prqListContentCss .ui-block-b{
	width: 71% !important;
	text-align: right;
	font-size: 14px;
}

.prqListContentCss .ui-block-c{
	display: none;
	width: 13% !important;
	height: 100%;
	text-align: right;
	padding-top: 3.5%;
	opacity: 0.7;
}



.prqListContentCss p{
	padding-top: 4px;
	padding-bottom: 5px;
	font-size: 13px;
	color: #fff;
	letter-spacing: -0.7px;
}

.prqListContentCss .prqListPriceCss{
	color: #fff;
	font-size: 16px;
	display: inline-block;
	font-weight: bold;
}

/* 신청취소 */
.prqListContentCss .prqCancelCss{
	background-color: #2196F3;
    display: inline-block;
    margin-top: 12px;
    font-size: 12px;
    border: 1px solid #2196F3;
    padding: 3px 6px;
    border-radius: 4px;
    color: #fff;
}


/* 신청취소불가 */
.prqListContentCss .prqNoCancelCss{
	background-color: #e0dae8;
	display: inline-block;
	margin-top: 12px;
	font-size: 12px;
	border: 1px solid #e0dae8;
	padding: 3px 6px;
	border-radius: 4px;
	color: #8354c8;
	font-weight: bold;
}

/* 상태표시  */
.prqListContentCss .prqStateW{
    color: #707070;
    font-size: 12px;
    margin-top: 16px;
    display: inline-block;
    border: 1px solid #707070;
    padding: 3px 6px;
    border-radius: 4px;
}


.prqListContentCss .prqStateY{
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	background-color: #8354c8;
	margin-top: 16px;
	display: inline-block;
	border: 1px solid #8354c8;
	padding: 3px 6px;
	border-radius: 4px;
	/* box-shadow: 0px 3px 13px 0px #532c8c; */
}

.prqListContentCss .prqStateN{
	color: #f32e36;
    font-size: 12px;
    margin-top: 16px;
    display: inline-block;
    border: 1px solid #f32e36;
    padding: 3px 6px;
    border-radius: 4px;
}

/* 아티스트쪽 상태표시  */
.prqListContentCss .A_prqStateY{
	background-color: #2196F3;
	display: inline-block;
	margin-top: 10px;
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	border: 1px solid #2196F3;
	padding: 3px 6px;
	border-radius: 4px;
}

.prqListContentCss .A_prqStateN{
	background-color: #707070;
	display: inline-block;
	margin-top: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	border: 1px solid #707070;
	padding: 3px 6px;
	border-radius: 4px;
}

