#epilogue_team{
	text-align: center;
	background-color: white;
	height: 50px;
}

#epilogueImg_area{
	width: 100%;
	height: 200px;
	border: 1px solid silver;
	overflow: hidden;
}

#epilogueImg{
	width: 100%;
	height: auto; 
}

i{
	color: blue;
}

.ep_listForm li{
	height: 160px;
}

.ep_listForm table{
	width: 100%;
	height: 100%;
	border-collapse: collapse;	
}

.ep_listForm td{
	border: 1px solid silver;
}

.ep_listImg{
	width: 100%;
	height: 140px;
}