@CHARSET "UTF-8";
.rs-bg{
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.rs-header{
	position: sticky !important;
    position: -webkit-sticky !important;
    padding-top: 65px;
    padding-left: 65px;
}

.rs-menu{
	color: rgba(255, 255, 255, 0.3);
	margin-right: 45px;
    cursor: pointer;
}

.rs-on{
	color: #ffffff !important;
}

.rs-body{
	position: sticky !important;
    position: -webkit-sticky !important;
    padding: 100px 65px;
    margin-top: 5vh;
}
.rsb-header {
    width: 80px;
}

.rsb-title {
    margin-top: 5px;
    margin-bottom: 25px;
}

.rsb-subtitle {
    margin-bottom: 20px;
}

.rsb-content {
	height: 120px;
    line-height: 1.8;
}

.rs-btn-container {
    position: sticky !important;
    position: -webkit-sticky !important;
    padding: 50px 65px 50px 65px;
    justify-content: space-between;
}

.rs-btn > img {
    width: 39px;
    height: 39px;
}

.rs-btn > span {
	color: #ffffff;
	padding-top: 8px;
}

.rs-btn {
    width: 105px;
    justify-content: space-between;
    cursor: pointer;
}

.non-click{
    cursor: default !important;
}

.non-click > span{
	color: rgba(255,255,255,0.2) !important;
}

.rs-app-btn-container{
	position: sticky !important;
    position: -webkit-sticky !important;
   padding: 30px 65px;
}

.rs-app-btn-container > img{
	width: 150px;
	margin-right: 20px;
    cursor: pointer;
}

.rs-app-qr {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.rs-app-qr-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}