@CHARSET "UTF-8";
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    z-index: 2;
   /* box-shadow: 0px 9px 4px 11px #2e30332b; */
}

.pd_cart_btn {
    width: 35vw;
    float: left;
    text-align: center;
    position: relative;
    text-indent: 15px;
    font-size: 15px;
    font-weight: 500;
}

.pd_cart_btn img {
    width: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -50%);
}

.pd_buy_btn {
    text-align: center;
    font-weight: 500;
    width: 65vw;
    float: left;
    font-size: 15px;
    background: linear-gradient(to right, #c39bee, #6ac3fa);
}

