@CHARSET "UTF-8";
/* index 부분 */
.iw_top_container {
	width: 100%;
	height: 315px;
	position: relative;
}

.iwc_image_container {
	position: relative;
	width: 100%;
	height: 285px;
	z-index: 1;
}

.iwc_image_container:after {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1), inset 0 0 100px
		rgba(0, 0, 0, 0.1);
}

.iwc_noimage {
    background-color: #000000;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(/cooperation/iseoulu/img/bg_top.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.in_text_type_a {
    text-align: center;
    font-size: 15px;
    color: #cccccc;
}

.in_text_type_a:FIRST-CHILD{
	padding-top: 73px;
	padding-bottom: 16px;
}

.in_text_type_b {
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    font-family: 'Black Han Sans', 'sans-serif';
    line-height: 1;
    letter-spacing: -0.5px;
    padding-bottom: 5px;
}

.in_down_image {
    width: 72px;
}


.iwcic_busker_image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}

.iwcic_shape_image {
	width: 102%;
	height: 15%;
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.iwc_info_container {
	position: absolute;
	padding: 40px 20px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	bottom: -19px;
	z-index: 4;
}

.iwcic_wapper {
	width: 100%;
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 4px;
    /* box-shadow: 0px 11px 13px 0px #c4cfe45e; */
    box-shadow: 0px 8px 10px 0px #c4cfe424;
    text-align: center;
    border: 1px solid #f2f3f3;
}

.iwcic_title {
	font-size: 12px;
	font-weight: 700;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0;
	line-height: 1.2;
}

.iwcic_title img {
	width: 11px;
	padding-right: 2px;
}

.iwcic_title span{
	font-size: 12px;
	font-weight: 700;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0;
	line-height: 1.2;
	
}

.iwcic_content {
	font-size: 25px;
	font-weight: 700;
	margin-top: 3px;
}

.iwcic_content>span {
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 0;
}

.iwcic_sub_content {
	font-size: 13px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 80%;
	color: #999;
	font-weight: 400;
	letter-spacing: -0.4px;
}

.iwcic_plus_btn {
	display: inline-block;
	padding: 4px;
	border-radius: 50px;
	position: absolute;
	top: 5vw;
	right: 10vw;
	box-shadow: 0px 5px 9px 0px #a7b2c763;
	background: linear-gradient(to top, #c39bee, #6ac3fa);
}

.iwcic_plus_btn img {
	width: 38px;
	height: 38px;
}

.iwcic_search {
	/* box-shadow: 0px 0px 8px 0px #e2e5ec; */
	box-shadow: 0px 3px 9px 3px #c4cfe44d;
	border-radius: 50px;
	height: 36px;
	position: relative;
}

.iwcic_search>input {
	width: 90%;
	font-size: 12px;
	height: 36px;
	border: none;
	border-radius: 50px;
	padding-left: 15px;
}

.iwcic_search>input::placeholder {
	font-weight: 500;
	color: #b0b0b0;
	letter-spacing: -0.5px;
}

.iwcic_search img {
	width: 24px;
	position: absolute;
	right: 11px;
	top: 6px;
	opacity: 0.8;
}

.iwmc_title {
	font-size: 24px;
	font-weight: 700;
	padding: 50px 0px 5px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	letter-spacing: 0.25px;
}

.iwmc_title_best {
	font-size: 14px;
	font-weight: 500;
	padding: 30px 0px 5px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #444;
	letter-spacing: -0.4px;
}

.iwmc_title_best span {
	font-size: 14px;
	font-weight: 700;
	box-sizing: border-box;
	color: #444;
	letter-spacing: -0.4px;
}

.iwmc_title_container:first-child{
	padding-top: 12px;
}

.iwmc_title_container {
	position: relative;
	padding-top: 30px;
}

.iwmc_title:first-child {
	padding-top: 20px;
	display: inline-block;
}

.iwmc_moreview {
	display: inline-block;
	position: absolute;
	right: 20px;
	color:#848484;
	bottom: 15px;
	font-size: 12px;
	
}

/* 공통 */
.iwmc_content{
	padding: 0px 20px;
	font-weight: 100;
	font-size: 15px;
	color: #666;
	letter-spacing: -0.3;
}

.iwmc_image_container {
    padding: 20px 20px 0px 20px;
    position: relative;
}

.iwmc_image_container img {
    width: 100%;
}

/* 아이서울유 브랜드 소개 */
.iwmc_ic_text {
    position: absolute;
    bottom: 0;
    padding: 10px;
    padding-left: 15px;
}

.iwmc_ic_text p {
    display: inline-block;
    margin-right: 15px;
    color: #f9f9f9;
    font-size: 12px;
    font-weight: 100;
}

/* 파트너스 기업 상품 item */
.pp_item {
	text-align: center;
	width: 75px;
}

.pp_item img {
	width: 36px;
	/*opacity: 0.9; */
}

.pp_item p {
	font-size: 12px;
	color: #888;
	letter-spacing: 0;
	padding-top: 3px;
	font-weight: 400;
	color: #505050;
}

.best_product_box {
	padding-top: 0px;
	background-color: #ffffff;
}

.all_product_btn {
	font-weight: bold;
	text-decoration: underline;
	background-color: #dfeffd;
	line-height: 3.2;
	text-align: center;
	color: #0b81ef;
	border-radius: 4px;
	margin: 5px 20px 50px 20px;
	font-size: 16px;
}

.all_product_btn p {
	text-decoration: underline;
}


/* 이달의 행사 및 축제 item */
.sperform_text {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 20px;
    color: #ffffff;
    padding: 10px;
    font-size: 23px;
    font-weight: 700;
	letter-spacing: 0.25;
}


/* 서울 관광 명소 item */
.iwmc_ul_container {
	padding: 0px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding-bottom: 20px;
}

.iwmc_uc_item {
	height: 110px;
    margin-bottom: 26px;
    margin-right: 10px;
    position: relative;
    width: 70vw;
}

.iwmc_ul_container li:last-child>.iwmc_uc_item {
	margin-bottom: 0px !important;
}

.iwmc_uc_item img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.iwmc_uc_item p {
	position: absolute;
	z-index: 2;
	width: 100%;
	line-height: 120px;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	border-radius: 9px;
	letter-spacing: 0.3px;
	font-weight: 700;
}


/* 메인 footer */
.iw_bottom_container {
    background-color: #222222;
    margin-top: 160px;
    padding: 80px 20px 60px 20px;
}

.iwbc_title {
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.25;
}

.iwbc_content {
    padding: 6px 0px 80px 0px;
	letter-spacing: -0.1;
}

.iwbc_small_title {
    color: #ffffff;
}

.iwbc_url {
    color: #d6d6d6;
    padding: 5px 0px 20px 0px;
}

.iwbc_url span {
    color: #d6d6d6;
    text-decoration: underline;
    margin-right: 5px;
    font-size: 14px;
}

.iwbc_app_container {
    position: relative;
    margin-top: 20px;
}

.iwbc_app_icon {
    display: inline-block;
    border: 1px solid #666;
    padding: 10px;
    border-radius: 50px;
}


.iwbc_app_icon img{
	width: 25px;
}


.iwbc_app_text {
    color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    margin-left: 20px;
}

.iw_bottom_copyright {
    background-color: #222222;
    border-top: 1px solid #333;
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
    padding-bottom: calc(10px + env(safe-area-inset-bottom));
    padding-bottom: calc(10px + constant(safe-area-inset-bottom));
    color: #6e6f6f;
}

/* 매인 지도부분 */
.pop_content{
	margin: 15px 20px 0px 20px;
	padding: 10px;
	/* border:1px solid #eee; */
	background-color: #f3f3f7;
}
.pop_content p{
 	font-size:14px;
}


.iwmc_content2_t{
	padding-left: 15px;
	font-weight: 500 !important;
	padding-bottom: 3px;
	font-size: 15px;
	color: #999;
	letter-spacing: -0.3;
	display:inline-block;
}	
.iwmc_content2{
	padding-left: 5px;
	font-weight: 100;
	font-size: 15px;
	color: #666;
	letter-spacing: -0.3;
	display: inline-block;
}